<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ASPENS</title>
  <!-- base:css -->
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <!-- Cropper.js CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">

<!-- jQuery (required by Cropper.js) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Cropper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="admin/home">
        <a class="navbar-brand brand-logo-mini" href="admin/home"><img src="/public/user/images/logo/logo-black.png" alt=""/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
                <button type="button" class="btn btn-info font-weight-bold">+ Create New</button>
            </li>
          <li class="nav-item dropdown d-flex">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="icon-air-play mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">shibili
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">               
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          <li class="nav-item dropdown mr-4 d-lg-flex d-none">
            <a class="nav-link count-indicatord-flex align-item s-center justify-content-center" href="#">
              <i class="icon-grid"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->

<%- include("../layouts/admin/sidebar.ejs") %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-lg-12">
      <div class="card mt-5">
        <div class="card-body">
          <!-- Button trigger modal -->
          <h1 class="text-center">
            <span class="mdi mdi-shape text-primary"></span>
            Category
          </h1>
          <button type="button" class="btn btn-outline-success mt-2"
            data-toggle="modal" data-target="#exampleModal">

            <i class="mdi mdi-upload btn-icon-prepend"></i>Add
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Categories</h5>
                  <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form action="/admin/add-category" method="post">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Category</label>
                      <input name="category" type="text" class="form-control"
                        id="exampleFormControlInput1">

                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </p>
        <div class="table-responsive mt-2">
          <table class="table  text-black ">
            <thead>
              <tr>
                <th class="text-black ">S_NO</th>
                <th class="text-black ">Category</th>
                <th class="text-black "> Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <%category.forEach((cat,index)=>{ %>
                <td>
                  <%= index+1 %>
                </td>
                <td>
                  <%= cat.name %>
                </td>
                <td> 
                  <a type="button" class="btn btn-outline-warning"
                    data-toggle="modal" data-target="#exampleModal1">
                    edit
                  </a>
                  <a href="/admin/delete-category?id=<%=cat._id%>"><button
                    class=" btn btn-outline-warning "
                    data-toggle="modal" data-target="#edit"
                    type="button">delete</button></a>
                <% if (cat.is_block == false) { %>
                <a href="/admin/unblock-category?id=<%=cat._id%>">
                  <button class="btn btn-outline-warning" data-toggle="modal"
                    data-target="#edit" type="button">list</button>
                </a>
                <% } else { %>
                <a href="/admin/block-category?id=<%=cat._id%>">
                  <button class="btn btn-outline-danger ml-2"
                    data-toggle="modal" data-target="#edit" type="button">non
                    list</button>
                </a>
                <% } %>
                  <div class="modal fade" id="exampleModal1" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">edit
                            category</h5>
                          <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <form action="/admin/edit-category?id=<%= cat._id %>"
                            method="post">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Category
                                name</label>
                              <input name="categoryName" type="text"
                                class="form-control"
                                id="exampleFormControlInput1" value="<%= cat.name %>">

                            </div>

                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                            <button type="submit"
                              class="btn btn-primary">done</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>  
              </tr>
              <%}); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../layouts/admin/footer.ejs") %>