<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASPENSE</title>
    <!-- base:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/logogo-removebg-preview.png" />

  </head>

  <body>
    <div class="container-scroller">
    
      <div class="container-fluid page-body-wrapper">

        
        <%- include('../layouts/admin/sidebar.ejs') %>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-lg-12">
              <div class="card mt-5">
                <div class="card-body">
                  <!-- Button trigger modal -->
                  <h1 class="text-center">
                    <span class="mdi mdi-shape text-primary"></span>
                    Category
                  </h1>
                  <button type="button" class="btn btn-outline-success mt-2"
                    data-toggle="modal" data-target="#exampleModal">

                    <i class="mdi mdi-upload btn-icon-prepend"></i>Add
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title"
                            id="exampleModalLabel">Categories</h5>
                          <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form id="add-category">
                        <div class="modal-body">
                         
                            <div class="form-group">
                              <label
                                for="exampleFormControlInput1">Category</label>
                              <input name="category" type="text"
                                class="form-control"
                                id="cat-name">
                                <p id="add-name" style="display: none; color:red"></p>

                            </div>

                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                            <button type="submit"
                              class="btn btn-primary" id="add-cat-btn">Add</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </p>
                <div class="table-responsive mt-2">
                  <table class="table  text-black ">
                    <thead>
                      <tr>
                        <th class="text-black ">S_NO</th>
                        <th class="text-black ">Category</th>
                        <th class="text-black "> Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <%category.forEach((cat,index)=>{ %>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <%= cat.name %>
                        </td>
                        <td>
                          <a type="button" class="btn btn-outline-warning"
                            data-target="exampleModal1"
                            onclick="editCategory('<%= cat.name %>','<%= cat._id %>')">
                            edit
                          </a>

                          <!-- <a href="/admin/delete-category?id=<%=cat._id%>"
                            onclick="return confirmAction('delete', this.href)">
                            <button class="btn btn-outline-warning"
                              type="button">delete</button>
                          </a> -->

                          <% if (cat.is_block == 0) { %>
                          <a href="/admin/block-category?id=<%=cat._id%>"
                            onclick="return confirmAction('block', this.href)">
                            <button class="btn btn-outline-danger ml-2"
                              type="button">block</button>
                          </a>
                          <% } else { %>
                          <a href="/admin/unblock-category?id=<%=cat._id%>"
                            onclick="return confirmAction('unblock', this.href)">
                            <button class="btn btn-outline-success ml-2"
                              type="button">unblock</button>
                          </a>
                          <% } %>

                        </td>
                      </tr>
                      <%}); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <ul class="pagination_style d-flex justify-content-center">
                <% for (let i = 1; i <= totalPages; i++) { %>
                   <li style="list-style: none; margin-right: 5px;">
                     <button type="button" class="btn btn-primary <% if (i === currentPage) { %>active<% } %>">
                       <a href="?page=<%= i %><%= searchQuery ? '&search=' + encodeURIComponent(searchQuery) : '' %>" style="color: inherit; text-decoration: none;">
                         <%= i %>
                       </a>
                     </button>
                   </li>
                <% } %>
               </ul>
            </div>
            
          </div>
         
        </div>
      </div>

      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModal1">Edit Category</h5>
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="category-name">Category Name</label>
                  <input name="categoryName" type="text" class="form-control"
                    id="edit-name">
                  <input type="hidden" id="category_id">
                  <p id="name-e" style="display:none; color: red;"></p>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
                <button type="button" id="edit-category-btn"
                  class="btn btn-primary">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <script src="vendors/base/vendor.bundle.base.js"></script>

      <script src="js/off-canvas.js"></script>
      <script src="js/hoverable-collapse.js"></script>
      <script src="js/template.js"></script>

      <script>

function confirmAction(action, url) {
      Swal.fire({
          title: 'Are you sure?',
          text: getConfirmationText(action),
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
      }).then((result) => {
          if (result.isConfirmed) {
        
              window.location.href = url;
          }
      });
      return false;
  }
  
  function getConfirmationText(action) {
      switch (action) {
          case 'block':
              return "Are you sure you want to change the block status of this product?";
          case 'unblock':
              return "Are you sure you want to change the block status of this product?";
          case 'delete':
              return "Are you sure you want to delete this product? This action cannot be undone.";
          default:
              return "Are you sure?";
      }
  }



 

function editCategory(name, id) {
    console.log("dataaaaaaaaaaaaaaaaaaaaaaa",name, id);
    document.getElementById('edit-name').value = name;
    document.getElementById('category_id').value = id;
    $('#exampleModal1').modal('show');
    
}


document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("edit-category-btn").addEventListener("click", async (e) => {
    e.preventDefault();

    const categoryId = document.getElementById('category_id').value
    const categoryName = document.getElementById('edit-name').value;
    const error = document.getElementById("name-e")
    console.log("while submittttttttttttttt",categoryId,categoryName);

    if(categoryName.trim()==""){
      error.style.display= "block"
      error.textContent="name is required"
      return
    }

    try {
        const response = await fetch('/admin/edit-category', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ categoryName,categoryId }),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
         console.log('resssssssssssss',response);
        const data = await response.json();
        console.log('dataaaaaa',data);
        if (data.success) {
           Swal.fire({
            icon:"success",
            text:"category name editted successfully"
           }).then(()=>{     
            $('#exampleModal1').modal('hide');
            location.reload()
          })

        } else if(data.exist) {
          swal.fire({
        icon:"warning",
        title:"exist",
        text:"categoryname is exist in your collection"
      }) 
        }
    } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
    }
});

})

document.getElementById('add-cat-btn').addEventListener("click", async (e) => {
 e.preventDefault();

 const catname = document.getElementById("cat-name").value;
 const error = document.getElementById('add-name')

 if(catname.trim()==""){
  error.style.display="block"
  error.textContent='name is required'

  return
 }

 $.ajax({
    url: "/admin/add-category",
    method: "post",
    data: { name: catname },
    success: (response) => {
      if (response.success) {
        Swal.fire({
          icon: "success",
          text: "Added successfully"
        }).then(() => {
          $('#exampleModal').modal('hide');
          $('.modal-backdrop').remove();
        });
      } else if (response.exist) {
        Swal.fire({
          icon: "error",
          text: "Name already exists!"
        });
      }
    }
 });
});




    </script>
      <%- include('../layouts/admin/footer.ejs') %>
