<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ASPENSE</title>
        <!-- base:css -->
        <link rel="stylesheet"
            href="vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="vendors/feather/feather.css">
        <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- inject:css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="images/logogo-removebg-preview.png" />

    </head>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div
                    class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo" href="index.html"><img
                            src="images/logo.png" alt="logo"
                            style="height: 30px;" /></a>
                    <a class="navbar-brand brand-logo-mini"
                        href="index.html"><img
                            src="images/logogo-removebg-preview.png"
                            alt="logo" /></a>
                </div>
                <div
                    class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button
                        class="navbar-toggler navbar-toggler align-self-center"
                        type="button" data-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="search">
                                        <i class="icon-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control"
                                    placeholder="Search Projects.."
                                    aria-label="search"
                                    aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item dropdown d-flex mr-4 ">
                            <a
                                class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                                id="notificationDropdown" href="#"
                                data-toggle="dropdown">
                                <i class="icon-cog"></i>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <p
                                    class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
                                <a class="dropdown-item preview-item">
                                    <i class="icon-head"></i> Profile
                                </a>
                                <a class="dropdown-item preview-item">
                                    <i class="icon-inbox"></i> Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-4 d-lg-flex d-none">
                            <a
                                class="nav-link count-indicatord-flex align-item s-center justify-content-center"
                                href="#">
                                <i class="icon-grid"></i>
                            </a>
                        </li>
                    </ul>
                    <button
                        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                        type="button" data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                <%- include('../layouts/admin/sidebar.ejs') %>
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">

                                        <form>
                                            <div class="form-group my-3">
                                                <label for="name">Coupon
                                                    name</label>
                                                <input type="text"
                                                    class="form-control"
                                                    id="name" name="couponName"
                                                    placeholder="Type here"
                                                    value="<%= coupon.couponName %>">
                                                <div id="nameError"
                                                    class="text-danger error-message"></div>
                                                <input type="hidden"
                                                    id="couponId"
                                                    value="<%=coupon._id %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="code">Coupon
                                                    code</label>
                                                <div class="input-group">
                                                    <input type="text"
                                                        class="form-control"
                                                        id="code"
                                                        name="couponCode"
                                                        value="<%= coupon.couponCode %>">
                                                    <div
                                                        class="input-group-append">
                                                        <button type="button"
                                                            id="generateButton"
                                                            class="btn btn-warning">Generate</button>
                                                    </div>
                                                </div>
                                                <div id="codeError"
                                                    class="text-danger error-message"></div>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="discount">Discount
                                                    Amount</label>
                                                <input type="number"
                                                    class="form-control"
                                                    id="discount"
                                                    name="discount"
                                                    placeholder="Type here"
                                                    value="<%= coupon.discountAmount %>">
                                                <div id="discountError"
                                                    class="text-danger error-message"></div>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="expiredate">Expire
                                                    Date</label>
                                                <input type="date"
                                                    class="form-control"
                                                    id="expiredate"
                                                    name="expiryDate"
                                                    onclick="this.type='date'"
                                                    value="<%= coupon.expireDate.toISOString().substring(0, 10) %>">
                                                <div id="expiredateError"
                                                    class="text-danger error-message"></div>
                                            </div>
                                            <div class="form-group my-3">
                                                <label
                                                    for="criteriamount">Criteria
                                                    Amount</label>
                                                <input type="number"
                                                    class="form-control"
                                                    id="criteriAmount"
                                                    name="criteriaAmount"
                                                    placeholder="Type here"
                                                    value="<%= coupon.criteriaAmount %>">
                                                <div id="criteriamountError"
                                                    class="text-danger error-message"></div>
                                            </div>
                                            <div
                                                class="container d-flex justify-content-center mt-4">
                                                <button type="submit"
                                                    class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script
                    src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const generateButton = document.getElementById('generateButton');
                     generateButton.addEventListener('click', function() {
                        console.log('etuuuuuuuuuuuuuuuuuuuuuu');
                        fetch('/admin/generate-coupon-code', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                        })
                        .then(response => response.json())
                        .then(data => {
                          Swal.fire({
                            text: "code is generated",
                            icon: "success", 
                          });
                          const couponCode = data.couponCode;
                          document.getElementById('code').value = couponCode;
                        })
                        .catch((error) => {
                          console.error('Error:', error);
                     
                        });
                     });
                    
                    
                    
                     const form = document.querySelector('form');
                     form.addEventListener('submit', function(event) {
                        event.preventDefault(); 
                    
                      
                        const name = document.getElementById('name').value;
                        const code = document.getElementById('code').value;
                        const discount = document.getElementById('discount').value;
                        const expireDate = document.getElementById('expiredate').value;
                        const criteriaAmount = document.getElementById('criteriAmount').value;
                        const couponId = document.getElementById('couponId').value
                    
                    
                        if (!name || !code || !discount || !expireDate || !criteriaAmount) {
                          Swal.fire({
                          icon:"error",
                          text:"please fill all the fields"
                          })
                    
                          return;
                        }

                        const expiryDateObj = new Date(expireDate);
const currentDate = new Date();

if(discount<=0&&criteriaAmount<=0){
        Swal.fire({
      icon:"error",
      text:"please amount must be positive"
      })
      return;  
    }
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
if (expiryDateObj <= currentDate) {
  Swal.fire({
    icon: "error",
    text: "Expiry date must be in the future."
  });
  return;
}
                    
                     
                        const data = {
                          couponName: name,
                          couponCode: code,
                          discount: discount,
                          expireDate: expireDate,
                          criteriaAmount: criteriaAmount,
                          couponId:couponId
                        };
                        fetch('/admin/edit-coupon', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
})
.then(response => {
  if (!response.ok) {
    throw new Error(`HTTP error status: ${response.status}`);
  }
  return response.json();
})
.then(data => {
  if (data.success) {
    Swal.fire({
      icon: "success",
      text: "Coupon edit successful"
    }).then(() => {
      window.location.href = "/admin/coupon";
    });
  } else if (data.exist) {
    Swal.fire({
      icon: "error",
      text: "Name already exists"
    });
  }
})
.catch((error) => {
  console.error('Error:', error);
  Swal.fire({
    icon: "error",
    text: "An unexpected error occurred. Please try again."
  });
});
                    })    
                })          
                    </script>

                <script src="vendors/base/vendor.bundle.base.js"></script>
                <script src="js/off-canvas.js"></script>
                <script src="js/hoverable-collapse.js"></script>
                <script src="js/template.js"></script>

                <%- include('../layouts/admin/footer.ejs') %>