<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASPENSE</title>
    <!-- base:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/logogo-removebg-preview.png" />

    <style>
      /* Global styles */
      body {
        font-family: Arial, sans-serif; /* Default font family */
        background-color: #f8f9fa; /* Page background color */
      }
    
      .container {
        margin-top: 20px; /* Add some space on top */
      }
    
      /* Header styles */
      .header {
        background-color: #343a40; /* Header background color */
        color: white; /* Header text color */
        padding: 10px 0; /* Padding top and bottom */
      }
    
      .header h1 {
        margin: 0; /* Remove margin */
        text-align: center; /* Center align header text */
      }
    
      /* Table styles */
      .table th,
      .table td {
        vertical-align: middle; /* Align content vertically centered */
        border: none; /* Remove border from table cells */
      }
    
      .table th {
        background-color: #007bff; /* Header background color */
        color: white; /* Header text color */
      }
    
      .table tbody tr:nth-child(even) {
        background-color: #f8f9fa; /* Alternate row background color */
      }
    
      .table tbody tr:hover {
        background-color: #e2e6ea; /* Hover row background color */
      }
    
      /* Footer styles */
      .footer {
        background-color: #343a40; /* Footer background color */
        color: white; /* Footer text color */
        padding: 10px 0; /* Padding top and bottom */
        text-align: center; /* Center align footer text */
      }
    
      /* Additional styles for specific elements */
      h4 {
        border-radius: 5px; /* Rounded corners for h4 elements */
        text-align: center; /* Center align h4 text */
        background-color: #ec37fc; /* Background color for h4 elements */
        color: aliceblue; /* Text color for h4 elements */
      }
    
      .start {
        padding: 20px; /* Padding for elements with class 'start' */
      }
    
      .start h2 {
        margin-bottom: 20px; /* Margin bottom for h2 elements inside 'start' class */
      }
    
      .start h3 {
        margin-top: 20px; /* Margin top for h3 elements inside 'start' class */
        margin-bottom: 10px; /* Margin bottom for h3 elements inside 'start' class */
      }
    
      .start p {
        margin-bottom: 10px; /* Margin bottom for p elements inside 'start' class */
      }
    
      .start input[type="text"],
      .start select {
        width: 100%; /* Set width to 100% for input[type="text"] and select elements inside 'start' class */
        margin-bottom: 10px; /* Margin bottom for input[type="text"] and select elements inside 'start' class */
      }
    
      /* Add more space between rows */
      .start .row {
        margin-bottom: 20px; /* Margin bottom for rows inside 'start' class */
      }
    
      /* Make address field a multiline input */
      .start .address-input {
        height: 90px; /* Set height to accommodate 3 lines */
        resize: vertical; /* Allow vertical resizing */
      }
    
      .start .return-input {
        height: 90px; /* Set height to accommodate 3 lines */
        resize: vertical; /* Allow vertical resizing */
      }
    
      /* Line between tables */
      .line {
        border-top: 1px solid #ccc; /* Line color */
        margin-top: 20px; /* Margin top */
        margin-bottom: 20px; /* Margin bottom */
      }
    </style>
    
    

  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img
              src="images/logo.png" alt="logo" style="height: 30px;" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img
              src="images/logogo-removebg-preview.png" alt="logo" /></a>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center"
            type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control"
                  placeholder="Search Projects.." aria-label="search"
                  aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
              <button type="button" class="btn btn-info font-weight-bold">+
                Create New</button>
            </li>

            <li class="nav-item dropdown d-flex mr-4 ">
              <a
                class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown">
                <p
                  class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
                <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
                </a>
                <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
                </a>
              </div>
            </li>
            <li class="nav-item dropdown mr-4 d-lg-flex d-none">
              <a
                class="nav-link count-indicatord-flex align-item s-center justify-content-center"
                href="#">
                <i class="icon-grid"></i>
              </a>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <div class="user-profile">
            <div class="user-image">
              <img src="images/faces/face28.png">
            </div>
            <div class="user-name">
              shibili
            </div>
            <div class="user-designation">
              manager
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/customer">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Customers</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/category">
                <i class="icon-disc menu-icon"></i>
                <span class="menu-title">Category</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/products">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Products</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Orders</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/offer">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Offer</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupon">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Coupons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Banner</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Logout</span>
                <!-- <i class="menu-arrow"></i> -->
              </a>

            </li>

          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">

          <div class="content-wrapper">

            <div class="row">
              <!-- Order Details -->
              <div class="col-lg-6 mb-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2" class="bg-primary text-white">Order Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h5>Shipping Address</h5>
                        <p>Full Name: <%= orderData.deliveryDetails.fullName %></p>
                        <p>Address: <%= orderData.deliveryDetails.houseName %>, <%= orderData.deliveryDetails.city %> - <%= orderData.deliveryDetails.pin %></p>
                        <p>State: <%= orderData.deliveryDetails.state %></p>
                        <p>Mobile: <%= orderData.deliveryDetails.mobile %></p>
                        <p>City: <%= orderData.deliveryDetails.city %></p>
                      </td>
                      <td>
                        <h5>Delivery Details</h5>
                        <p>Expected Delivery Date: <%= orderData.date.toDateString() %></p>
                        <p>Delivery Method: <%= orderData.shippingMethod %></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Order Summary -->
              <div class="col-lg-6 mb-4">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="2" class="bg-primary text-white">Order Summary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 50%; border-right: 1px solid #dee2e6; border-bottom: 1px solid #dee2e6;">
                        <div class="mb-3">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Total Items:</td>
                                <td><%= totalItems %></td>
                              </tr>
                              <tr>
                                <td>Subtotal:</td>
                                <td>$<%= subtotal.toFixed(2) %></td>
                              </tr>
                              <tr>
                                <td>Shipping:</td>
                                <td>$<%= orderData.shippingAmount %></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                      <td style="width: 50%; border-bottom: 1px solid #dee2e6;">
                        <div>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Total:</td>
                                <td class="font-weight-bold">$<%= (subtotal + orderData.shippingAmount).toFixed(2) %></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
            </div>
            <div class="line"></div>
            
            
            

            <div class="row">
              <div class="col-lg-12" style="margin-bottom: 20px;">
                <table style="width: 100%; border-collapse: collapse;">
                  <thead style="background-color: #007bff; color: white;">
                    <tr>
                      <th style="border: 1px solid #dddddd; padding: 8px;">No</th>
                      <th style="border: 1px solid #dddddd; padding: 8px;">Name</th>
                      <th
                        style="border: 1px solid #dddddd; padding: 8px;">Category</th>
                      <th
                        style="border: 1px solid #dddddd; padding: 8px;">Count</th>
                      <th
                        style="border: 1px solid #dddddd; padding: 8px;">Price</th>
                      <th style="border: 1px solid #dddddd; padding: 8px;">Total
                        Price</th>
                      <th
                        style="border: 1px solid #dddddd; padding: 8px;">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orderData.products.forEach((product, index) => { %>
                    <tr style="border: 1px solid #dddddd;">
                      <!-- Product Details -->
                      <td style="border: 1px solid #dddddd; padding: 8px;"><%= index
                        + 1 %></td>
                      <td style="border: 1px solid #dddddd; padding: 8px;"><%=
                        product.name %></td>
                      <td style="border: 1px solid #dddddd; padding: 8px;">
                        <% if (product.category && product.category.name) { %>
                        <%= product.category.name %>
                        <% } else { %>
                        N/A
                        <% } %>
                      </td>
                      <td style="border: 1px solid #dddddd; padding: 8px;"><%=
                        product.count %></td>
                      <td style="border: 1px solid #dddddd; padding: 8px;">$<%=
                        product.productPrice %>.00</td>
                      <td style="border: 1px solid #dddddd; padding: 8px;">$<%=
                        product.totalPrice %>.00</td>
                      <% if (product.status == "pending") { %>
                      <td style="color: yellow;">Pending</td>
                      <% } else if (product.status == 'Delivered') { %>
                      <td style="color: limegreen;">Delivered</td>
                      <% } else if (product.status == "requested") { %>
                      <td>
                        <button
                          onclick="showReturnModal('<%= product._id %>','<%= product.count %>','<%= orderData.returnReason %>','<%= orderData._id %>')"
                          class="badge badge-warning">Return Request</button>
                      </td>
                      <% } else if (product.status == "accepted") { %>
                      <td style="color: rgb(9, 16, 219);"
                        onclick="showReturnModal('Product 1', '1', '<%= orderData.returnReason %>')">Returned</td>
                      <% } else if (product.status == 'Cancelled') { %>
                      <td style="color: red;">Cancelled</td>
                      <% } else { %>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><%= product.status %></button>
                          <div class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button"
                              onclick="updateOrder('<%= product._id %>','Placed')">Placed</button>
                            <button class="dropdown-item" type="button"
                              onclick="updateOrder('<%= product._id %>','Shipped')">Shipped</button>
                            <button class="dropdown-item" type="button"
                              onclick="updateOrder('<%= product._id %>','Out for Delivery')">Out
                              for Delivery</button>
                            <button class="dropdown-item" type="button"
                              onclick="updateOrder('<%= product._id %>','Delivered')">Delivered</button>
                          </div>
                        </div>
                      </td>
                      <% } %>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="//cdn.jsdelivr.net/npm/sweetalert@2"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Bootstrap JavaScript -->
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script>



$(document).ready(function() {
 $('.dropdown-toggle').dropdown();
});


  function updateOrder(id, status) {
  const data = { orderId: id, status };
  console.log('data',data);

  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      location.reload()
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'Delivered') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-success');
          location.reload()
        } else if (newStatus === 'Cancelled') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-danger');
        }

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "Status changed",
        });
        location.reload()
      } else {
        console.log('erroooooorororror');
        swal("Something went wrong", "", "error");
      }
      
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });
}



function showReturnModal(productId, count, returnReason, orderId, orderReturnReason) {
    console.log('Product ID:', productId);
    console.log('Count:', count);
    console.log('Return Reason:', returnReason);
    console.log('Order ID:', orderId);
    console.log('Order Return Reason:', orderReturnReason);
    document.getElementById('returnReasonText').textContent = returnReason;
    $('#returnReasonModal').modal('show');
}

function acceptReturnRequest(id,status) {
  const data = { orderId: id, status };
  console.log('dataaaaaaas',data);
  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'accepted') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-success');
        } 
        location.reload()

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "request accepted ,status changed",
        });
        
      } else {
        console.log('erroooooorororror');
        swal("Something went wrong", "", "error");
      }
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });

    
    console.log('Return request accepted.');

    $('#returnReasonModal').modal('hide');
}

function rejectReturnRequest(id,status) {
  const data = { orderId: id, status };

  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'rejected') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-success');
        } 
        location.reload()

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "request rejected , status changed",
        });
      } else {
        console.log('erroooooorororror');
        swal("Something went wrong", "", "error");
      }
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });

  
    console.log('Return request rejected.');

    $('#returnReasonModal').modal('hide');
}
      


      </script>
        <script src="js/off-canvas.js"></script>
        <script src="js/hoverable-collapse.js"></script>
        <script src="js/template.js"></script>

        <%- include('../layouts/admin/footer.ejs') %>

      

      

       