<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASPENSE</title>
    <!-- base:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/logogo-removebg-preview.png" />

  </head>

  <body>
    <div class="container-scroller">
    
      <div class="container-fluid page-body-wrapper">

        <%- include('../layouts/admin/sidebar.ejs') %>

        <div class="main-panel">
            <div class="content-wrapper">
              <div class="col-lg-12">
                <div class="card mt-5">
                  <div class="card-body">
                    <div class="page-header  ">
                        <h3 class="page-title"> Aspense Sales Report </h3>
                        <div class="d-flex mt-5 ml " >
                        <div class="dropdown  m-3 ">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Filter </button>
                            <div class="dropdown-menu m-5 " aria-labelledby="dropdownMenuOutlineButton1">
                                <h6 class="dropdown-header">Report Sorting</h6>
                                <a class="dropdown-item" href="/admin/sales-report?sort=<%= 1 %>">Daily</a>
                                <a class="dropdown-item" href="/admin/sales-report?sort=<%= 7 %>">Weekly</a>
                                <a class="dropdown-item" href="/admin/sales-report?sort=<%= 30 %>">Monthly</a>
                                <a class="dropdown-item" href="/admin/sales-report?sort=<%= 365 %>">Yearly</a>
                            </div>
                        </div> 
                        <div class="dropdown m-3 ">
                            <button class="btn btn-outline-light  dropdown-toggle" type="button"
                                id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Report Download </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                <a class="dropdown-item" id="excel-format" href="/admin/excel-download">Excel Format</a>
                                <!-- <a class="dropdown-item" id="pdf-format" href="/admin/pdf-download">Pdf Format</a> -->
                            </div>
                        </div>
                        <div id="calendarContainer" class="m-3 text-end">
                          <form onsubmit="sendDateToBackend(event)" style="display: flex; gap: 10px; align-items: center;">
                            <label for="calendarInput">Select Date:</label>
                            <input type="date" id="calendarInput" class="form-control ">
                            <button type="submit" class="btn btn-primary ">Get Report</button>
                          </form>
                        </div>
                        <div class="container">
                          <form id="dateRangeForm">
                              <div class="form-group">
                                  <label for="startDate">Start Date:</label>
                                  <input type="date" class="form-control" id="startDate" required>
                              </div>
                              <div class="form-group">
                                  <label for="endDate">End Date:</label>
                                  <input type="date" class="form-control" id="endDate" required>
                              </div>
                              <button type="submit" class="btn btn-primary">Generate Report</button>
                          </form>
                      </div>
                        </div>
                      </div>
                      
                      
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order Id</th>
                            <th>Products - Qty</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(orders.length > 0) { %>
                            <% orders.forEach((order, index) => { %>
                                <tr>
                                    <td><%= index + 1 %>.</td>
                                    <td><%= order.orderId %></td>
                                    <td><%= order.products.name %> - <%= order.products.count %></td>
                                    <td><%= order.date.toISOString().split('T')[0] %></td>
                                    <td><%= order.deliveryDetails.fullName?order.deliveryDetails.fullName:order.deliveryDetails.name %></td>
                                    <td>₹&nbsp;<%= order.products.totalPrice %></td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6">No orders found</td>
                            </tr>
                        <% } %>
                    </tbody>
                   
                </table>
            
                </div>
                <ul class="pagination_style d-flex justify-content-center">
                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <li style="list-style: none; margin-right: 5px;">
                      <button type="button" class="btn btn-primary <% if (i === page) { %>active<% } %>">
                        <a href="<%= `?page=${i}&limit=${limit}${date ? `&date=${date}` : ''}${duration ? `&sort=${duration}` : ''}` %>" style="color: inherit; text-decoration: none;">
                          <%= i %>
                        </a>
                      </button>
                    </li>
                  <% } %>
                </ul>
                     
              </div>
                    
            </div>
          </div>

          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
          <script>
$(document).ready(function() {
    $('#dateRangeForm').on('submit', function(event) {
        event.preventDefault();
        const startDate = $('#startDate').val();
        const endDate = $('#endDate').val();
        const url = `/admin/sales-report?startDate=${encodeURIComponent(startDate)}&endDate=${encodeURIComponent(endDate)}`;
        window.location.href = url;
    });
});


        function sendDateToBackend(event) {
  event.preventDefault();  
  console.log('Function called');
  var selectedDate = $('#calendarInput').val();
  console.log('Selected Date:', selectedDate);
  var jsDate = new Date(selectedDate);
  var formattedDate = jsDate.toISOString().split('T')[0];
  var encodedDate = encodeURIComponent(formattedDate);
  var url = '/admin/sales-report?sort=&date=' + encodedDate;
  console.log('URL:', url);

  window.location.href = url;
}

$(document).ready(function() {
  $('form').on('submit', sendDateToBackend);
});

          </script>



          <%- include('../layouts/admin/footer.ejs') %>