<%- include("../layouts/user/header.ejs") %>
<style>
    .button-container input[type="button"] {
    color: white;
    background-color: black;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.button-container input[type="button"]:last-child {
    margin-right: 0; /* Remove the margin from the last button */
}
.coupon {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    max-width:auto;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.selected {
 background-color: rgb(128, 128, 206);
 color: white; 
}


.coupon-logo {
    max-width: 100px;
    margin-bottom: 15px;
}
.coupon-amount {
    font-size: 20px;
    color: #f00; /* Red color for emphasis */
}
.scratch-card {
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}
.scratch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 27); /* Color of the scratch layer */
}
.coupon-code {
    position: relative;
    z-index: 1;
}
.hidden-code {
    visibility: hidden;
}
.scratch-card {
    position: relative;
    overflow: hidden;
}
.scratch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path/to/your/scratch-overlay-image.png');
    background-size: cover;
    pointer-events: none;
}
.hidden-code {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000;
}
.scratch-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #ccc;
}


    .cart-summary-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .cart-summary-table th,
    .cart-summary-table td {
        padding: 8px;
        text-align: left;
    }

    .cart-summary-table th {
        background-color: #f2f2f2;
    }

  

    .card-title {
    font-size: 18px;
    margin-bottom: 0;
}

.card-text {
    margin-bottom: 5px;
}

.address-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    width: auto;
}

.address-item .card-body {
    padding: 0;
}

.address-details {
    display: flex;
    flex-wrap: wrap;
}

.address-details span {
    margin-right: 10px;
}

.card-title span {
    font-size: 1rem;
    margin-left: 10px;
}
 
.suggestions {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    max-height: 100px;
    overflow-y: auto;
}

.suggestion {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.suggestion:last-child {
    border-bottom: none;
}



    /* Styling for card title */
   
</style>

<!-- Start Breadumb Area -->
<div
    class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3" style="margin-top: 7rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="checkout-container">
<form id="checkout-form">
    <div class="main-wrapper">
        <div class="checkout_area pt--120 pt_md--80 pt_sm--80 pb--60 bg-color"
            data-bg-color="#ffffff">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>your Address</h3>
                        <div class="row">

                            <% if (addressData && addressData.address &&
                            addressData.address.length > 0) { %>
                            <% addressData.address.forEach((address, index) => {
                            %>
                            <div class="col-lg-12">
                                <div class="address-item card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-9">
                                        <h3 class="card-title">Address <%= index + 1 %>: <span><%= address.fullName %></span></h3>
                                        <p class="card-text address-details">
                                            <span><%= address.mobile %>,</span>
                                            <span><%= address.state %>,</span>
                                            <span><%= address.city %>,</span>
                                            <span><%= address.pin %>,</span>
                                            <span><%= address.houseName %></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-3">

                                        <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; gap: 1rem;">
                                            <input type="radio" name="address" value='<%= JSON.stringify(address) %>' <%= index === 0 ? 'checked' : '' %> />
                                            <a href="#" onclick="showEditAddressModal('<%= address.fullName %>','<%= address.mobile %>', '<%= address.email %>', '<%= address.houseName %>', '<%= address.city %>', '<%= address.state %>',  '<%= address.pin %>','<%= address._id %>')" class="edit-link" data-toggle="modal" data-target="#editAddressModal">Edit <i class="fa-sharp fa-solid fa-pen" style="color: #cc9966;"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="modal fade"
                            id="editAddressModal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                            style="padding-top: 80px;">
                            <div
                                class="modal-dialog"
                                role="document">
                                <div
                                    class="modal-content">
                                    <div
                                        class="modal-header">
                                        <h5
                                            class="modal-title"
                                            id="exampleModalLabel">edit
                                            Address</h5>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                            <span
                                                aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div
                                        class="modal-body">
                                        <form
                                            id="editAddressform"
                                            class="row gx-2">
                                            <div
                                                class="form-group col-md-6">
                                                <label
                                                    for="fullname">Full
                                                    Name
                                                    *</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="fullname"
                                                    id="fullnames"
                                                    required>
                                               <p id="error-name"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-6">
                                                <label
                                                    for="mobile">Mobile
                                                    *</label>
                                                <input
                                                    type="tel"
                                                    class="form-control"
                                                    name="mobile"
                                                    id="mobiles"
                                                    required>
                                                <p id="error-mobile"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-12">
                                                <label
                                                    for="email">Email
                                                    *</label>
                                                <input
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                    id="emails"
                                                    >
                                               <p id="error-email"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-12">
                                                <label
                                                    for="house">House
                                                    Name
                                                    *</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="houseName"
                                                    id="houseNames"
                                                    >
                                               <p id="error-housename"  style="display: none; color: red;"></p>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    style="display: none;"
                                                    id="addressId"
                                                    name="addressId">
                                            </div>

                                            <div
                                                class="form-group col-md-4">
                                                <label
                                                    for="state">State
                                                    *</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="state"
                                                    id="states"
                                                    >
                                               <p id="error-state"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-4">
                                                <label
                                                    for="city">City
                                                    *</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="city"
                                                    id="citys"
                                                    >
                                                <p id="error-city"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-4">
                                                <label
                                                    for="pincode">Pincode
                                                    *</label>
                                                <input
                                                    type="tel"
                                                    class="form-control"
                                                    name="pincode"
                                                    id="pincodes"
                                                    autocomplete="off"
                                                    >
                                               <p id="error-pin"  style="display: none; color: red;"></p>
                                            </div>

                                            <div
                                                class="form-group col-md-12">
                                                <button
                                                    id="editAddress"
                                                    type="submit"
                                                    class="btn btn-outline-primary">
                                                    <span>Add
                                                        Address</span>
                                                    <i
                                                        class="icon-long-arrow-right"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            
                            <% }) %>
                            <% } else { %>
                            <div class="col-lg-8 col-md-12 mb--20">
                                    <div id="billing-form" class="mb--40">
                                        <h4 class="checkout-title">Billing Address</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>First Name*</label>
                                                <input type="text" id="name" placeholder="First Name">
                                                <div id="nameError" class="error-msg" ></div>
                                            </div>
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Email Address*</label>
                                                <input type="email" id="email" placeholder="Email Address">
                                                <div id="emailError" class="error-msg"></div>
                                            </div>
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Phone no*</label>
                                                <input type="text" id="mobile" placeholder="Phone number">
                                                <div id="mobileError" class="error-msg"></div>
                                            </div>
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Town/City*</label>
                                                <input type="text" id="city" placeholder="Town/City">
                                                <div id="cityError" class="error-msg"></div>
                                            </div>
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>State*</label>
                                                <input type="text" id="state" placeholder="State">
                                            </div>
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Pin Code*</label>
                                                <input type="text" id="pincode" placeholder="pin Code">
                                                <div id="pincodeError" class="error-msg"></div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12 mb--20">
                                                <label>House Name*</label>
                                                <input type="text" id="houseName" placeholder="House Name" oninput="fetchSuggestions(this.value)" autocomplete="off">
                                                <div id="suggestions" class="suggestions"></div>
                                            </div>
                                           
                                        </div>
                                    </div>   
                            </div>
                            <% } %>
                        </div>

                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb--25">
                                        <input type="text" id="couponCodeInput" placeholder="Coupon Code" style="font-weight: bold; color: red;" disabled>
                                    </div>
                                    <div class="col-md-6 col-12 mb--25 button-container">
                                        <input type="button" value="check coupons" onclick="showDiscountModal()" style="color: white; background-color: black; width: auto; display: inline-block; margin-right: 10px;">
                                        <input type="button" value="remove coupon" onclick="removeCoupon()" style="color: white; background-color: black; width: auto; display: inline-block;">
                                    </div>
                                    
                                 
                               
                                </div>
                                <div>
                                    <% if (appliedCouponData) { %>
                                        <p>coupon name: <span id="coupon-name"><%= appliedCouponData.couponName %></span></p>
                                        <p>amount: <span id="coupon-amount"><%= appliedCouponData.discountAmount %></span></p>
                                    <% } else { %>
                                        <p>coupon name: <span id="coupon-name">_</span></p>
                                        <p>amount: <span id="coupon-amount"></span></p>
                                    <% } %>
                                </div>
                                
                        </div>
                    </div>
                    <!-- Discount Coupon Modal -->
<div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="discountModalLabel">Apply Discount Coupon</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <% if(couponData&&couponData.length>0) {%>  
                <% couponData.forEach( (coupon,index) => { %>
                <div class="col-lg-6 col-md-12 ">
            <div class="coupon"  data-coupon-id="<%= coupon._id %>">
                <img src="/user/images/logo.png" alt="Logo" class="coupon-logo">
                <div class="coupon-content">
                    <h4><strong>Exclusive Offer!</strong></h4>
                    <p>coupon <name:span><%= coupon.couponName %></name:span></p>
                    <input type="hidden" id="selectedCouponCode" value="<%= coupon.couponCode %>">
                    <input type="hidden" id="selectedCouponId" value="<%= coupon._id %>">
                    <h4>Get <span class="coupon-amount"><%= coupon.discountAmount %>%</span> Off</h4>
                    <h5>criteria: <Amount:span style="font-weight: bold;"><%= coupon.criteriaAmount %></Amount:span></h5>
                    <div class="scratch-card" style="overflow: hidden; width: auto;">
                        <div class="scratch-overlay"></div>
                        <p class="coupon-code"><strong class="hidden-code"><%= coupon.couponCode %></strong><span class="scratch-text" style="color: #ccc;">Scratch</span></p>
                    </div>
                    <p class="coupon-wishes">Happy Shopping!</p>
                </div>
            </div>
        </div>
     <% }) %>
     <% }else { %>
        <h4>your not eligible for coupons <br>
            make break the criteria
        </h4>
     <% } %>
        </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="closeModal()">close</button>
          <button type="button" class="btn btn-primary" onclick="applyCoupon()">Apply</button>
        </div>
      </div>
    </div>
  </div>
  
                    <div class="col-lg-6">
                        <div class="mb--60">
                          
                            <div class="checkout-cart-total">
                                <h4 class="checkout-title" style="text-decoration: none;">CART TOTAL</h4>
                                <div class="card">
                                    <table class="cart-summary-table">
                                       
                                        <thead>
                                            <tr>
                                                <th scope="col">PRODUCT</th>
                                                <th scope="col">TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.products.forEach((product,index) => { %>
                                                <tr>
                                                    <td><%= product.productId.name %></td>
                                                    <td>$<%= eachTotal[index].toFixed(2) %></td>
                                                </tr>
                                            <% }); %>
                                            <tr>
                                                <td>SUB TOTAL</td>
                                                <td id="subtotal">$<%= subTotal.toFixed(2) %></td>
                                            </tr>
                                            <tr>
                                                <td>SHIPPING CHARGE</td>
                                                <td>$<%= shippingAmount.toFixed(2) %></td> 
                                            </tr>
                                            <tr>
                                                <td>GRAND TOTAL</td>
                                                <td id="grandtotal">$<%= total.toFixed(2) %></td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    <div style="padding: 15px;">
                                        <h4 class="checkout-title ">PAYMENT
                                            METHOD</h4>
                                        <div class="single-method">
                                            <!-- Payment method options go here -->
                                            <div>
                                                <% if( subTotal > 1500){ %>  
                                            <input type="radio" id="COD"
                                                name="payment" value="COD"
                                             disabled>
                                            <label for="COD" style="font-weight: bold; text-decoration:line-through;">Cash on
                                                Delivery</label>
                                                <% } else { %>  
                                                    <input type="radio" id="COD"
                                                name="payment" value="COD"
                                                checked>
                                                <label for="COD" style="font-weight: bold;">Cash on
                                                    Delivery</label>
                                                    <% } %>
                                            </div>
                                            <div>
                                                <input type="radio" id="paypal" name="payment" value="paypal">
                                                <label for="paypal" style="font-weight: bold;">Paypal</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="razorpay" name="payment" value="razorpay">
                                                <label for="razorpay" style="font-weight: bold;">razorpay</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="wallet" name="payment" value="wallet">
                                                <label for="wallet" style="font-weight: bold;">wallet</label>
                                            </div>
                                           
                                         
                                        </div>
                                        <div style="text-align: center;">
                                            <button type="button" id="place-order"
                                                class="place-order">Place
                                                Order</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

  
     </div>               
    <!-- Quick View Modal -->
    <div class="quick-view-modal">
        <div class="quick-view-modal-inner">
            <div class="container">
                <div class="product-details">
                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div
                            class="product-details-images slider-navigation-2">
                            <a href="#">
                                <img class="w-100"
                                    src="assets/images/product/product-01.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="assets/images/product/product-02.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="assets/images/product/product-03.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="assets/images/product/product-04.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="assets/images/product/product-05.jpg"
                                    alt="product image">
                            </a>
                        </div>
                        <div
                            class="product-details-thumbs slider-navigation-2">
                            <img
                                src="assets/images/product/product-01.jpg"
                                alt="product image thumb">
                            <img
                                src="assets/images/product/product-02.jpg"
                                alt="product image thumb">
                            <img
                                src="assets/images/product/product-03.jpg"
                                alt="product image thumb">
                            <img
                                src="assets/images/product/product-04.jpg"
                                alt="product image thumb">
                            <img
                                src="assets/images/product/product-05.jpg"
                                alt="product image thumb">
                        </div>
                    </div>
                    <!--// Product Details Left -->

                    <!-- Product Details Right -->
                    <div class="product-details-right">
                        <h5 class="product-title">Demo Product
                            Name</h5>

                        <div class="ratting-stock-availbility">
                            <div class="ratting-box">
                                <span><i
                                        class="fa fa-star"></i></span>
                                <span><i
                                        class="fa fa-star"></i></span>
                                <span><i
                                        class="fa fa-star"></i></span>
                                <span><i
                                        class="fa fa-star"></i></span>
                                <span><i
                                        class="fa fa-star"></i></span>
                            </div>
                            <span class="stock-available">In
                                stock</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Nam fringilla augue nec
                            est
                            tristique auctor. Donec non est at
                            libero vulputate rutrum. Morbi ornare
                            lectus quis
                            justo gravida semper. Nulla tellus mi,
                            vulputate adipiscing cursus eu, suscipit
                            id
                            nulla. adipiscing cursus eu, suscipit id
                            nulla.</p>

                        <div class="price-box">
                            <span
                                class="pricebox-price">£80.00</span>
                        </div>

                        <div class="product-details-quantity">
                            <div class="quantity-select">
                                <div class="pro-quantity">
                                    <div class="pro-qty"><input
                                            type="text"
                                            value="1"></div>
                                </div>
                            </div>
                            <a href="#" class="add-to-cart-button">
                                <span>ADD TO CART</span>
                            </a>
                        </div>

                        <div class="product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li class="red"><span></span></li>
                                <li
                                    class="green checked"><span></span></li>
                                <li class="blue"><span></span></li>
                                <li class="black"><span></span></li>
                            </ul>
                        </div>

                        <div class="product-details-size">
                            <span>Size :</span>
                            <ul>
                                <li
                                    class="checked"><span>S</span></li>
                                <li><span>M</span></li>
                                <li><span>L</span></li>
                                <li><span>XL</span></li>
                                <li><span>XXL</span></li>
                            </ul>
                        </div>

                        <div class="product-details-categories">
                            <span>Categories :</span>
                            <ul>
                                <li><a
                                        href="shop.html">Accessories</a></li>
                                <li><a
                                        href="shop.html">Kids</a></li>
                                <li><a
                                        href="shop.html">Women</a></li>
                            </ul>
                        </div>

                        <div class="product-details-tags">
                            <span>Tags :</span>
                            <ul>
                                <li><a
                                        href="shop.html">Electronic</a></li>
                                <li><a
                                        href="shop.html">Television</a></li>
                            </ul>
                        </div>

                        <div class="product-details-socialshare">
                            <span>Share :</span>
                            <ul>
                                <li><a class="facebook" href="#"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li><a class="google-plus"
                                        href="#"><i
                                            class="fa fa-google-plus"></i></a></li>
                                <li><a class="linkedin" href="#"><i
                                            class="fa fa-linkedin"></i></a></li>
                                <li><a class="instagram" href="#"><i
                                            class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--// Product Details Right -->

                </div>
            </div>
        </div>
        <button class="close-quickview-modal"><i
                class="fa fa-close"></i></button>
    </div>

</div>



    <!--// Quick View Modal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>



const isNotEmpty = (value) => value.trim() !== "";
const isValidEmail = (value) => /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value);
const isValidPhone = (value) => /^\d{10}$/.test(value); 
const isValidPincode = (value) => /^\d{6}$/.test(value);


function validateInput(inputId, errorId, validationFunction) {
    const input = document.getElementById(inputId);
    const error = document.getElementById(errorId);
   

    if (!validationFunction(input.value)) {
        error.style.color = "red";
        error.textContent = "This field is required."; 
        return false;
    }
    return true;
}

document.getElementById("place-order").addEventListener("click", (e) => {
    e.preventDefault();

    const selectedAddress = $("input[name='address']:checked").val();
    let address = {};

    
    if (!selectedAddress) {
        const nameValid = validateInput("name", "nameError", isNotEmpty);
        const emailValid = validateInput("email", "emailError", isValidEmail);
        const mobileValid = validateInput("mobile", "mobileError", isValidPhone);
        const pincodeValid = validateInput("pincode", "pincodeError", isValidPincode);
        const cityValid = validateInput("city", "cityError", isNotEmpty);
        const stateValid = validateInput("state", "stateError", isNotEmpty);
        const houseNameValid = validateInput("houseName", "houseError", isNotEmpty);
        
        if (!nameValid || !emailValid || !mobileValid || !pincodeValid || !cityValid || !stateValid || !houseNameValid) {
            return; 
        }

        address = {
            fullName: document.getElementById("name").value,
            email: document.getElementById("email").value,
            mobile: document.getElementById("mobile").value,
            pin: document.getElementById("pincode").value,
            state: document.getElementById("state").value,
            city: document.getElementById("city").value,
            houseName: document.getElementById("houseName").value
        };
    } else {
        address = JSON.parse(selectedAddress);
    }
 

    const paymentMethod = $("input[name='payment']:checked").val();
    const formData = {
        address: address,
        payment: paymentMethod,
    };
    

                    $.ajax({
                        url: "/place-order",
                        method: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify({ formData }),
                        success: (response) => {
                            console.log('rssdgfsdfs',response);
                            if(response.stock){
                                swal.fire({
                                title: "bad request!",
                                text:"product is out of stock ,plese remove out of stock product for your place holder",
                                icon: "warning"
                                });               
                            } else if (response.codsuccess == true) {
                                swal.fire({
                                icon: "success",
                                title:"cash on delivery",
                                text:"order success",
                                timer: 3000
                                }).then(()=> {        
                                    window.location.href = `/order-success`;
                                });
                            }else if(response.wallet){
                                swal.fire({
                                icon: "success",
                                title:"wallet",
                                text:"order success",
                                timer: 3000
                                }).then(()=> {        
                                    window.location.href = `/order-success`;
                                });   
                            }else if(response.walletAmount){
                                swal.fire({
                                icon: "error",
                                text:"wallet amount not enough",
                                })  
                        }else if (response.paypal) {
                        window.location.href = response.paypal;
                        }else if(response.razorpay){
                            console.log('data.order:',response.order);
                            razorpayPayment(response.order);
                        }
                        },
                    });
                }
                
            );


            function razorpayPayment(order){

var options = {
    "key": "rzp_test_deu2ORuCjDgPNd", 
    "amount":order.amount, 
    "currency": "INR",
    "name": "aspense", 
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "handler": function (response){                              //handler after payment success
        console.log('response:',response);
        verifyPayment(response,order);
    },
    "prefill": { 
        "name": "muhammad shibili n", 
        "email": "nkshibili17@gmail.com", 
        "contact": "9000090000" 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {  
        "color": "#f2a100"
    }
};
console.log('hereeeeeeeeeeeeee');
var rzp1 = new Razorpay(options);
console.log('rzp1:',rzp1);
rzp1.on('payment.failed', function (response){
    window.location.href=`/order-failure?id=${order.receipt}`
});

rzp1.open();
}

function verifyPayment(response,order){
        fetch('/verify-payment',{
            method:"POST",
            headers:{
                "content-type": "application/json;charset=utf-8"
            },
            body:JSON.stringify({
                response,
                order
            })
        })
        .then((res)=>res.json())
        .then((data)=>{
            if(data.statusChanged){
                console.log('iffididd');
                window.location.href=`/order-success`
            }
        })   
    }

//             function fetchSuggestions(query) {
//     if (query.length < 3) {
//         $('#suggestions').empty();
//         return;
//     }

//     const apiKey = `17305b8b79f740a4adabb545b5801dd5`; 
//     const url = `https://api.opencagedata.com/geocode/v1/json?q=${query}&key=${apiKey}&limit=5`;

//     $.ajax({
//         url: url,
//         type: 'GET',
//         dataType: 'json',
//         success: function(data) {
//             const suggestions = data.results.map(result => `<div class="suggestion" data-location="${result.formatted}">${result.formatted}</div>`).join('');
//             $('#suggestions').html(suggestions);
//         },
//         error: function(error) {
//             console.error('Error fetching suggestions:', error);
//             $('#suggestions').html('No suggestions found.');
//         }
//     });
// }

// $(document).on('click', '.suggestion', function() {
//     const selectedLocation = $(this).data('location');
//     $('#houseName').val(selectedLocation);
//     $('#suggestions').empty();
// });

//             $(document).ready(function() {
//             $('#houseName').on('input', function() {
//         const houseName = $(this).val();
//         if (houseName.length >= 3) {
//             $.ajax({
//                 url: '/get-address-details/' + houseName,
//                 type: 'GET',
//                 dataType: 'json',
//                 success: function(data) {
//                     console.log('data',data.country,data.city);
//                     $('#city').val(data.components.city);
//                     $('#state').val(data.components.state);
//                 },
//                 error: function(error) {
//                     console.error('Error fetching address details:', error);
//                     $('#pincodeError').text('Error fetching address details.');
//                 }
//             });
//         } else {
//             $('#city').val('');
//             $('#state').val('');
//         }
//     });
// });


    function showDiscountModal() {
        $('#discountModal').modal('show');
    }
    function closeModal() {
        $('#discountModal').modal('hide');
    }
  

    function showEditAddressModal(
  fullname,
  mobile,
  email,
  houseName,
  city,
  state,
  pincode,
  addressId,
) {
  document.getElementById('fullnames').value = fullname
  document.getElementById('emails').value = email
  document.getElementById('mobiles').value = mobile
  document.getElementById('states').value = state
  document.getElementById('citys').value = city
  document.getElementById('pincodes').value = pincode
  document.getElementById('houseNames').value = houseName
  document.getElementById('addressId').value = addressId


  $('#editAddressModal').modal('show')
}

document.getElementById('editAddress').addEventListener('click', function (e) {
    e.preventDefault();

    
    const editAddressId = document.getElementById('addressId').value;
    const fullname = document.getElementById('fullnames').value;
    const pin = document.getElementById('pincodes').value;
    const mobile = document.getElementById('mobiles').value;
    const email = document.getElementById('emails').value;
    const houseName = document.getElementById('houseNames').value;
    const city = document.getElementById('citys').value;
    const state = document.getElementById('states').value;

    console.log('full',fullname,pin,mobile,email,houseName,city,state);
    console.log('fulssname',fullname);
    
  
    const nameError = document.getElementById('error-name');
    const pinError = document.getElementById('error-pin');
    const phoneError = document.getElementById('error-mobile');
    const addEmailError = document.getElementById('error-email');
    const houseError = document.getElementById('error-housename');
    const cityError = document.getElementById('error-city');
    const stateError = document.getElementById('error-state');
    console.log('addreddddddsssssssss',fullname ,editAddressId,mobile,pin,email);

    // Regular expressions for validation
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const mobilePattern = /^\d{10}$/;
    const namePattern = /^[a-zA-Z\s]+$/;
    const pincodePattern = /^\d{6}$/;

    if (fullname.trim() === '') {
      nameError.style.display = 'block';
      nameError.textContent = 'Name is required.';
    } else if (!namePattern.test(fullname)) {
      nameError.style.display = 'block';
      nameError.textContent = 'Full name should contain only alphabets.';
    } else if (fullname.length < 3) {
      nameError.style.display = 'block';
      nameError.textContent = 'Full name should be at least 3 characters long.';
    } else if (pin.trim() === '') {
      pinError.style.display = 'block';
      pinError.textContent = 'Pincode is required.';
    } else if (!pincodePattern.test(pin)) {
      pinError.style.display = 'block';
      pinError.textContent = 'Enter a valid pincode.';
    } else if (mobile.trim() === '') {
      phoneError.style.display = 'block';
      phoneError.textContent = 'Phone number is required.';
    } else if (!mobilePattern.test(mobile)) {
      phoneError.style.display = 'block';
      phoneError.textContent = 'Enter a valid phone number (10 digits).';
    } else if (email.trim() === '') {
      addEmailError.style.display = 'block';
      addEmailError.textContent = 'Email is required.';
    } else if (!emailPattern.test(email)) {
      addEmailError.style.display = 'block';
      addEmailError.textContent = 'Enter a valid email address.';
    } else if (houseName.trim() === '') {
      houseError.style.display = 'block';
      houseError.textContent = 'House name is required.';
    } else if (city.trim() === '') {
      cityError.style.display = 'block';
      cityError.textContent = 'City name is required.';
    } else if (state.trim() === '') {
      stateError.style.display = 'block';
      stateError.textContent = 'State name is required.';
    } else {
     
      $.ajax({
        url: '/edit-address',
        data: {
          fullname: fullname,
          editAddressId: editAddressId,
          email: email,
          mobile: mobile,
          houseName: houseName,
          city: city,
          state: state,
          pincode: pin
        },
        method: 'POST',
        success: (response) => {
          console.log(response, 'check the response');
          if (response.success) {
            $('#editAddressModal').modal('hide');
      

            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });

            Toast.fire({
              icon: 'success',
              title: 'Billing address updated successfully.'
            });

            setTimeout(() => {
              window.location.reload('/profile');
            }, 2000);
          } else {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 2000
            });

            Toast.fire({
              icon: 'error',
              title: 'Oops! Try again.'
            });
          }
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    }
  });



  



    $(document).ready(function() {
    $('.coupon').click(function() {
        $('.coupon').removeClass('selected');

        $(this).addClass('selected');
        const selectedCouponCode = $(this).find('.hidden-code').text();
        $('#selectedCouponCode').val(selectedCouponCode);
        const selectedCouponId = $(this).data('coupon-id');
            $('#selectedCouponId').val(selectedCouponId);
    });
    });


    function removeCoupon(){
        const selectedCouponId = $('#selectedCouponId').val();
        $.ajax({
            url:"/remove-coupon",
            method:"post",
            data:{couponId:selectedCouponId},
            success:(response) => {
                if(response.success){
                    Swal.fire({
                        icon:"success",
                        text:"coupon removed"
                    })
                    location.reload()
                }else if(response.noCoupon){
                    Swal.fire({
                        icon:"error",
                        text:"no coupon available"
                    })
                }
            }
        })
    }

    


    function applyCoupon() {
        const selectedCouponId = $('#selectedCouponId').val();
        const couponNameElement = document.querySelector('#coupon-name');
        const couponAmountElement = document.querySelector("#coupon-amount");
        console.log('Selected Coupon ID:', selectedCouponId);
        console.log('couponId', selectedCouponId);
        $.ajax({
            url: "/coupon-amount",
            method: "POST",
            data: { couponId:selectedCouponId }, 
            success: (response) => {
                console.log('responseyyyyyyyy',response);
                if(response.applied){
                Swal.fire({
                    icon:"error",
                    text:"coupon you already applied"
                })
                }else if (response.success && response.couponData) {
                    const selectedCouponCode = document.getElementById('selectedCouponCode').value;
                document.getElementById('couponCodeInput').value = selectedCouponCode;
                updateTotals(response.couponOfferAmount, response.grandTotal);
                couponNameElement.textContent = response.couponData.couponName;
               couponAmountElement.textContent = response.couponData.discountAmount+"%";
            } else {
                Swal.fire({
                    icon:"error",
                    text:"already you applied coupon"
                })
            }   
            },
            error: (error) => {
                console.error("Error applying coupon:", error);
            },
            complete: () => {
                $('#discountModal').modal('hide');
            }
        });
    }

    function updateTotals(couponOfferAmount, grandTotal) {
    const grandtotalElement = document.getElementById('grandtotal');

    if (grandtotalElement) {
        grandtotalElement.textContent = `$${grandTotal.toFixed(2)}`;
    } else {
        console.error('One or more elements not found: subtotal, grandtotal');
    }
}

document.getElementById('applyCouponButton').addEventListener('click', applyCoupon);

    
            </script>
            
            
           
           


    <%- include("../layouts/user/footer.ejs") %>