<%- include("../layouts/user/header.ejs") %>

<style>
   .profile-container {
    padding: 20px;
    border: 2px solid #ccc; 
    border-radius: 15px;
    width: auto;
    height: auto;
    margin-bottom: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.profile-container:hover {
    border-color: #555;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}


    .profile-image {
      position: relative;
      width: 100px; 
      height: 100px;
      border-radius: 50%; 
      overflow: hidden; 
      margin: 0 auto;
    }

    #file-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      opacity: 0; 
      cursor: pointer;
    }

    .custom-file-upload {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background-image: url("./user/images/bg/bg-image-12.jpg");
      color: #fff;
      border-radius: 50%; 
      cursor: pointer;
    }

    .custom-file-upload i {
      margin-right: 5px;
    }

    .profile-details {
      text-align: center;
      margin-top: 20px;
    }
    .address-buttons-container {
    display: inline-block;
}

.edit-address-btn,
.delete-address-btn {
    display: inline-block;
    margin-right: 10px; 
}
  
    .profile-info {
     
        position: relative;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%; 
        width: 150px; 
        height: 150px;
        border: 2px dashed #ccc; 
        line-height: 150px; 
        font-size: 16px;
        cursor: pointer; 
    }

    .profile-info input[type="file"] {
       
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    #address-list {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.address-item {
    color: #c05c5c;
    font-size: 16px;
    margin-bottom: 10px; 
    padding: 5px; 
    background-color: #e0e0e0; 
    border-radius: 3px;
    transition: background-color 0.3s ease;/
}

.address-item:hover {
    background-color: #d0d0d0; 
    cursor: pointer;
}
</style>

<div
    class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">profile</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadumb Area -->
<div class="main-wrapper">
    <!-- Start My Account Area -->
    <div class="my-account-area pt--120 pb--90">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto col-lg-12">
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">
                            <div class="panel panel-default">
                                <div class="container mt-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 profile-container">
                                            <div
                                                class="profile-image d-flex justify-content-center align-items-center position-relative rounded-circle"
                                                style="width: 100px; height: 150px; overflow: hidden;">
                                                <!-- Placeholder image -->
                                                <% if(userData.image){ %>
                                                <img
                                                    src="/images/product/original/<%= userData.image %>"
                                                    alt="Profile Image"
                                                    style="width: 120px; height: 100px; border-radius: 3rem;">
                                                <% } else { %>
                                                <img
                                                    src="/images/product/original/3.jpg"
                                                    alt="Profile Image"
                                                    style="width: 120px;">
                                                <% } %>
                                            </div>
                                            <div class="profile-details">
                                                <p>Username: <%= userData.name
                                                    %></p>
                                                <p>Email:<%= userData.email
                                                    %></p>
                                                <p>Mobile:<%= userData.mobile
                                                    %></p>
                                                <button
                                                    class="btn btn-primary "><a
                                                        href="/logout">logout</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>1</span>
                                        <a data-toggle="collapse"
                                            data-parent="#faq"
                                            href="#my-account-1"
                                            class="toggle-edit"
                                            data-user-id="<%= userData._id %>">Edit
                                            your
                                            profile </a>
                                    </h5>

                                    <div id="my-account-1"
                                        class="panel-collapse collapse show">
                                        <div class="panel-body">
                                            <form enctype="multipart/form-data"
                                                <div
                                                class="billing-information-wrapper">
                                                <div
                                                    class="account-info-wrapper">
                                                    <h4>My Account
                                                        Information</h4>
                                                    <h5>edit profile</h5>
                                                </div>
                                                <div class="row">

                                                    <div
                                                        class="col-lg-12 col-md-12">
                                                        <div
                                                            class="profile-info">
                                                            <!-- Added a class to target the profile field -->
                                                            <label
                                                                for="profileImage">Profile
                                                                Image</label>
                                                            <input type="file"
                                                                id="profileImage"
                                                                <!-- Added an ID
                                                                to target the
                                                                profile input
                                                                field -->
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-lg-6 col-md-6">
                                                        <div
                                                            class="billing-info">
                                                            <label>username</label>
                                                            <input type="text"
                                                                id="edit-name"
                                                                value="<%= userData.name %>">

                                                        </div>
                                                    </div>

                                                    <div
                                                        class="col-lg-6 col-md-6">
                                                        <div
                                                            class="billing-info"
                                                            name="mobile">
                                                            <label>mobile</label>
                                                            <input type="text"
                                                                id="edit-mobile"
                                                                name="mobile"
                                                                value="<%= userData.mobile %>">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-lg-12 col-md-12">
                                                        <div
                                                            class="billing-info">
                                                            <label>Email</label>
                                                            <input type="email"
                                                                id="edit-email"
                                                                name="email"
                                                                value="<%= userData.email %>"">
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="col-lg-12 col-md-12">
                                                        <div
                                                            class="billing-info">
                                                            <label>current
                                                                password</label>
                                                            <input type="text"
                                                                name="currentPassword"
                                                                id="edit-current-password">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-lg-12 col-md-12">
                                                        <div
                                                            class="billing-info">
                                                            <label>new
                                                                password</label>
                                                            <input type="text"
                                                                id="edit-new-password"
                                                                name="newPassword">
                                                        </div>
                                                    </div>

                                                </div>

                                                <h3><a
                                                        href="/forgot-password">forgot
                                                        password?</a></h3>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#">
                                                            <i
                                                                class="fa fa-long-arrow-up"></i>
                                                            back</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit"
                                                            id="edit-btn">save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>2</span>
                                        <a data-toggle="collapse"
                                            data-parent="#faq"
                                            href="#my-account-2">
                                            address </a>
                                    </h5>
                                </div>

                                <div id="my-account-2"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div
                                            class="billing-information-wrapper">
                                            <div
                                                class="panel panel-default col-lg-12 col-md-12">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <span>2</span>
                                                        <a
                                                            data-toggle="collapse"
                                                            data-parent="#faq"
                                                            href="#my-account-7">
                                                            your addresses </a>
                                                    </h5>
                                                </div>
                                                <div id="my-account-7"
                                                    class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div
                                                            class="billing-information-wrapper">
                                                            <div class="row">
                                                                <% if
                                                                (addressData &&
                                                                addressData.address
                                                                &&
                                                                addressData.address.length
                                                                > 0) { %>
                                                                <%
                                                                addressData.address.forEach(function(address)
                                                                { %>
                                                                <div
                                                                    class="col-lg-4 col-md-6"
                                                                    style="margin-bottom: 2rem;">
                                                                    <div
                                                                        id="address-list"
                                                                        style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                                                                        <div
                                                                            class="address-item-container">
                                                                            <p
                                                                                class="address-item">Name:
                                                                                <%=
                                                                                address.fullName
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">Email:
                                                                                <%=
                                                                                address.email
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">Mobile:
                                                                                <%=
                                                                                address.mobile
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">State:
                                                                                <%=
                                                                                address.state
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">City:
                                                                                <%=
                                                                                address.city
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">Pincode:
                                                                                <%=
                                                                                address.pin
                                                                                %></p>
                                                                            <p
                                                                                class="address-item">HouseName:
                                                                                <%=
                                                                                address.houseName
                                                                                %></p>
                                                                            <div
                                                                                class="address-buttons-container">

                                                                                <a
                                                                                    href="#"
                                                                                    class="edit-link"
                                                                                    data-toggle="modal"
                                                                                    data-target="#editAddressModal<%= address._id %>">
                                                                                    Edit
                                                                                    <i
                                                                                        class="fa-sharp fa-solid fa-pen"
                                                                                        style="color: #cc9966;"></i>
                                                                                </a>

                                                                                <div
                                                                                    class="modal fade"
                                                                                    id="editAddressModal<%= address._id %>"
                                                                                    tabindex="-1"
                                                                                    role="dialog"
                                                                                    aria-labelledby="exampleModalLabel"
                                                                                    aria-hidden="true"
                                                                                    style="padding-top: 80px;">
                                                                                    <div
                                                                                        class="modal-dialog"
                                                                                        role="document">
                                                                                        <div
                                                                                            class="modal-content">
                                                                                            <div
                                                                                                class="modal-header">
                                                                                                <h5
                                                                                                    class="modal-title"
                                                                                                    id="exampleModalLabel">edit
                                                                                                    Address</h5>
                                                                                                <button
                                                                                                    type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                    <span
                                                                                                        aria-hidden="true">&times;</span>
                                                                                                </button>
                                                                                            </div>
                                                                                            <div
                                                                                                class="modal-body">
                                                                                                <form
                                                                                                   
                                                                                                    class="row gx-2" id="edit-address-form">
                                                                                                    <div
                                                                                                        class="form-group col-md-6">
                                                                                                        <label
                                                                                                            for="fullname">Full
                                                                                                            Name
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            name="fullname"
                                                                                                            id="edit-name"
                                                                                                            value="<%= address.fullName %>"
                                                                                                            required>
                                                                                                        <input
                                                                                                            type="hidden"
                                                                                                            name="edit-addressId"
                                                                                                            id="edit-addressId"
                                                                                                            value="<%= address._id %>">
                                                                                                        <div
                                                                                                            id="fnameError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-6">
                                                                                                        <label
                                                                                                            for="mobile">Mobile
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="number"
                                                                                                            class="form-control"
                                                                                                            name="mobile"
                                                                                                            id="edit-mobile"
                                                                                                            value="<%= address.mobile %>"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="mobiles"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-12">
                                                                                                        <label
                                                                                                            for="email">Email
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="email"
                                                                                                            class="form-control"
                                                                                                            name="email"
                                                                                                            id="edit-email"
                                                                                                            value="<%= address.email %>"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="addEmailError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-12">
                                                                                                        <label
                                                                                                            for="house">House
                                                                                                            Name
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            name="houseName"
                                                                                                            id="edit-housename"
                                                                                                            value="<%= address.houseName %>"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="houseError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            style="display: none;"
                                                                                                            id="addressId"
                                                                                                            name="addressId">
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-4">
                                                                                                        <label
                                                                                                            for="state">State
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            name="state"
                                                                                                            id="edit-state"
                                                                                                            value="<%= address.state %>"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="stateError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-4">
                                                                                                        <label
                                                                                                            for="city">City
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            name="city"
                                                                                                            id="edit-city"
                                                                                                            value="<%= address.city %>"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="cityError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-4">
                                                                                                        <label
                                                                                                            for="pincode">Pincode
                                                                                                            *</label>
                                                                                                        <input
                                                                                                            type="tel"
                                                                                                            class="form-control"
                                                                                                            name="pincode"
                                                                                                            id="edit-pincode"
                                                                                                            value="<%= address.pin %>"
                                                                                                            autocomplete="off"
                                                                                                            required>
                                                                                                        <div
                                                                                                            id="pinError"
                                                                                                            style="display: none; color: red;"></div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-group col-md-12">
                                                                                                        <button
                                                                                                            id="editAddress"
                                                                                                            type="submit"
                                                                                                            class="btn btn-outline-primary">
                                                                                                            <span>Add
                                                                                                                Address</span>
                                                                                                            <i
                                                                                                                class="icon-long-arrow-right"></i>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <button
                                                                                    class="delete-address-btn"><i
                                                                                        class="fas fa-trash-alt"></i>
                                                                                    <a
                                                                                        href="/delete-address?_id=<%= address._id %>">Delete</a></button>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <% }); %>
                                                                <% } else { %>
                                                                <p>No address
                                                                    data
                                                                    available.</p>
                                                                <% } %>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="panel panel-default col-lg-12 col-md-12">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <span>2</span>
                                                        <a
                                                            data-toggle="collapse"
                                                            data-parent="#faq"
                                                            href="#my-account-6">
                                                            add address </a>
                                                    </h5>
                                                </div>
                                                <div id="my-account-6"
                                                    class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <div
                                                            class="billing-information-wrapper">
                                                            <div
                                                                class="account-info-wrapper">
                                                                <h4>add
                                                                    address</h4>

                                                            </div>
                                                            <form id="form">
                                                                <div
                                                                    class="row">
                                                                    <div
                                                                        class="col-lg-6 col-md-6">
                                                                        <div
                                                                            class="billing-info">
                                                                            <label>name</label>
                                                                            <input
                                                                                type="text"
                                                                                name="name"
                                                                                id="name">
                                                                            <p
                                                                                id="nameError"
                                                                                style="color: red; font-size: 10px; display: none;"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-6 col-md-6">
                                                                        <div
                                                                            class="billing-info">

                                                                            <label>mobile
                                                                            </label>
                                                                            <input
                                                                                type="number"
                                                                                name="mobile"
                                                                                id="mobile">
                                                                            <p
                                                                                id="mobileError"
                                                                                style="color: red; font-size: 10px; display: none;"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12">
                                                                        <div
                                                                            class="billing-info">
                                                                            <label>email
                                                                            </label>
                                                                            <input
                                                                                type="email"
                                                                                name="email"
                                                                                id="email">
                                                                            <p
                                                                                id="emailError"
                                                                                style="color: red; font-size: 10px; display: none;"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <div
                                                                        class="col-lg-4 col-md-4">
                                                                        <div
                                                                            class="billing-info">
                                                                            <label
                                                                                for="state">State</label>
                                                                            <div
                                                                                style="height: 50px; overflow-y: auto;">
                                                                                <select
                                                                                    id="state"
                                                                                    name="state"
                                                                                    style="width: 100%; ">
                                                                                    <option
                                                                                        value>Select
                                                                                        State</option>
                                                                                    <option
                                                                                        value="Andhra Pradesh">Andhra
                                                                                        Pradesh</option>
                                                                                    <option
                                                                                        value="Arunachal Pradesh">Arunachal
                                                                                        Pradesh</option>
                                                                                    <option
                                                                                        value="Assam">Assam</option>
                                                                                    <option
                                                                                        value="Bihar">Bihar</option>
                                                                                    <option
                                                                                        value="Chhattisgarh">Chhattisgarh</option>
                                                                                    <option
                                                                                        value="Goa">Goa</option>
                                                                                    <option
                                                                                        value="Gujarat">Gujarat</option>
                                                                                    <option
                                                                                        value="Haryana">Haryana</option>
                                                                                    <option
                                                                                        value="Himachal Pradesh">Himachal
                                                                                        Pradesh</option>
                                                                                    <option
                                                                                        value="Jharkhand">Jharkhand</option>
                                                                                    <option
                                                                                        value="Karnataka">Karnataka</option>
                                                                                    <option
                                                                                        value="Kerala">Kerala</option>
                                                                                    <option
                                                                                        value="Madhya Pradesh">Madhya
                                                                                        Pradesh</option>
                                                                                    <option
                                                                                        value="Maharashtra">Maharashtra</option>
                                                                                    <option
                                                                                        value="Manipur">Manipur</option>
                                                                                    <option
                                                                                        value="Meghalaya">Meghalaya</option>
                                                                                    <option
                                                                                        value="Mizoram">Mizoram</option>
                                                                                    <option
                                                                                        value="Nagaland">Nagaland</option>
                                                                                    <option
                                                                                        value="Odisha">Odisha</option>
                                                                                    <option
                                                                                        value="Punjab">Punjab</option>
                                                                                    <option
                                                                                        value="Rajasthan">Rajasthan</option>
                                                                                    <option
                                                                                        value="Sikkim">Sikkim</option>
                                                                                    <option
                                                                                        value="Tamil Nadu">Tamil
                                                                                        Nadu</option>
                                                                                    <option
                                                                                        value="Telangana">Telangana</option>
                                                                                    <option
                                                                                        value="Tripura">Tripura</option>
                                                                                    <option
                                                                                        value="Uttar Pradesh">Uttar
                                                                                        Pradesh</option>
                                                                                    <option
                                                                                        value="Uttarakhand">Uttarakhand</option>
                                                                                    <option
                                                                                        value="West Bengal">West
                                                                                        Bengal</option>
                                                                                    <option
                                                                                        value="Andaman and Nicobar Islands">Andaman
                                                                                        and
                                                                                        Nicobar
                                                                                        Islands</option>
                                                                                    <option
                                                                                        value="Chandigarh">Chandigarh</option>
                                                                                    <option
                                                                                        value="Dadra and Nagar Haveli">Dadra
                                                                                        and
                                                                                        Nagar
                                                                                        Haveli</option>
                                                                                    <option
                                                                                        value="Daman and Diu">Daman
                                                                                        and
                                                                                        Diu</option>
                                                                                    <option
                                                                                        value="Delhi">Delhi</option>
                                                                                    <option
                                                                                        value="Lakshadweep">Lakshadweep</option>
                                                                                    <option
                                                                                        value="Puducherry">Puducherry</option>

                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div
                                                                        class="col-lg-4 col-md-4">
                                                                        <div
                                                                            class="billing-info">

                                                                            <label>city
                                                                            </label>
                                                                            <input
                                                                                type="text"
                                                                                name="city"
                                                                                id="city">
                                                                        </div>
                                                                    </div>

                                                                    <div
                                                                        class="col-lg-4 col-md-4">
                                                                        <div
                                                                            class="billing-info">

                                                                            <label>pincode
                                                                            </label>
                                                                            <input
                                                                                type="number"
                                                                                name="pincode"
                                                                                id="pincode">
                                                                            <p
                                                                                id="pincodeError"
                                                                                style="color: red; font-size: 10px; display: none;"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12">
                                                                        <div
                                                                            class="billing-info">
                                                                            <label>house
                                                                                name
                                                                            </label>
                                                                            <input
                                                                                type="text"
                                                                                name="houseName"
                                                                                id="houseName">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div
                                                                    class="billing-back-btn">
                                                                    <div
                                                                        class="billing-back">
                                                                        <a
                                                                            href="#">
                                                                            <i
                                                                                class="fa fa-long-arrow-up"></i>
                                                                            back</a>
                                                                    </div>
                                                                    <div
                                                                        class="billing-btn">
                                                                        <button
                                                                            type="submit"
                                                                            id="address-btn">add
                                                                            address</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>3</span>
                                        <a data-toggle="collapse"
                                            data-parent="#faq"
                                            href="#my-account-3">order
                                            details </a>
                                    </h5>
                                </div>
                                <div id="my-account-3"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div
                                            class="billing-information-wrapper">
                                            <div class="account-info-wrapper">
                                                <h4>your order details</h4>
                                            </div>
                                            <div class="entries-wrapper">
                                                <div class="row">
                                                    <div
                                                        class="col-lg-12 col-md-6 col-sm-6 col-12 d-flex align-items-center justify-content-center">
                                                        <div
                                                            class="entries-info text-center">
                                                            <table
                                                                style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                                                                <thead>
                                                                    <tr>
                                                                        <th
                                                                            style="padding: 10px; background-color: #f2f2f2; border-bottom: 1px solid #ddd; width:auto;">No</th>
                                                                        <th
                                                                            style="padding: 10px; background-color: #f2f2f2; border-bottom: 1px solid #ddd; width: auto;">Date</th>
                                                                        <th
                                                                            style="padding: 10px; background-color: #f2f2f2; border-bottom: 1px solid #ddd; width: auto;">Price</th>
                                                                        <th
                                                                            style="padding: 10px; background-color: #f2f2f2; border-bottom: 1px solid #ddd; width: auto;">Payment
                                                                            Method</th>
                                                                        <th
                                                                            style="padding: 10px; background-color: #f2f2f2; border-bottom: 1px solid #ddd; width: auto;">Details</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% let counter = 1; %> 
                                                                    <% for (let
                                                                    orderId in
                                                                    orderDetails)
                                                                    { %>
                                                                    <% let order
                                                                    =
                                                                    orderDetails[orderId];
                                                                    %>
                                                                    <tr>
                                                                        <td
                                                                            style="padding: 10px; border-bottom: 1px solid #ddd;"><%= counter %>
                                                                           </td>
                                                                        <td
                                                                            style="padding: 10px; border-bottom: 1px solid #ddd;"><%=
                                                                            new
                                                                            Date(order.date).toLocaleDateString()
                                                                            %></td>
                                                                        <td
                                                                            style="padding: 10px; border-bottom: 1px solid #ddd;">$<%=
                                                                            order.totalAmount
                                                                            %>.00</td>
                                                                        <td
                                                                            style="padding: 10px; border-bottom: 1px solid #ddd;"><%=
                                                                            order.paymentMethod
                                                                            %></td>
                                                                        <td
                                                                            style="padding: 10px; border-bottom: 1px solid #ddd; text-align: center;">
                                                                            <a
                                                                                href="/order-details?_id=<%=order._id %>"
                                                                                style="display: inline-block; padding: 8px 16px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">View
                                                                                Details</a>
                                                                        </td>
                                                                    </tr> 
                                                                     <% counter++; %>
                                                                    <% } %>
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>4</span>
                                        <a href="wishlist.html">Modify your wish
                                            list </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account Area -->
</div>

<!-- Quick View Modal -->
<div class="quick-view-modal">
    <div class="quick-view-modal-inner">
        <div class="container">
            <div class="product-details">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-2">
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-01.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-02.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-03.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-04.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-05.jpg"
                                alt="product image">
                        </a>
                    </div>
                    <div class="product-details-thumbs slider-navigation-2">
                        <img src="assets/images/product/product-01.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-02.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-03.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-04.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-05.jpg"
                            alt="product image thumb">
                    </div>
                </div>
                <!--// Product Details Left -->

                <!-- Product Details Right -->
                <div class="product-details-right">
                    <h5 class="product-title">Demo Product Name</h5>

                    <div class="ratting-stock-availbility">
                        <div class="ratting-box">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <span class="stock-available">In stock</span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam fringilla augue nec est
                        tristique auctor. Donec non est at libero vulputate
                        rutrum. Morbi ornare lectus quis
                        justo gravida semper. Nulla tellus mi, vulputate
                        adipiscing cursus eu, suscipit id
                        nulla. adipiscing cursus eu, suscipit id nulla.</p>

                    <div class="price-box">
                        <span class="pricebox-price">80.00</span>
                    </div>

                    <div class="product-details-quantity">
                        <div class="quantity-select">
                            <div class="pro-quantity">
                                <div class="pro-qty"><input type="text"
                                        value="1"></div>
                            </div>
                        </div>
                        <a href="#" class="add-to-cart-button">
                            <span>ADD TO CART</span>
                        </a>
                    </div>

                    <div class="product-details-color">
                        <span>Color :</span>
                        <ul>
                            <li class="red"><span></span></li>
                            <li class="green checked"><span></span></li>
                            <li class="blue"><span></span></li>
                            <li class="black"><span></span></li>
                        </ul>
                    </div>

                    <div class="product-details-size">
                        <span>Size :</span>
                        <ul>
                            <li class="checked"><span>S</span></li>
                            <li><span>M</span></li>
                            <li><span>L</span></li>
                            <li><span>XL</span></li>
                            <li><span>XXL</span></li>
                        </ul>
                    </div>

                    <div class="product-details-categories">
                        <span>Categories :</span>
                        <ul>
                            <li><a href="shop.html">Accessories</a></li>
                            <li><a href="shop.html">Kids</a></li>
                            <li><a href="shop.html">Women</a></li>
                        </ul>
                    </div>

                    <div class="product-details-tags">
                        <span>Tags :</span>
                        <ul>
                            <li><a href="shop.html">Electronic</a></li>
                            <li><a href="shop.html">Television</a></li>
                        </ul>
                    </div>

                    <div class="product-details-socialshare">
                        <span>Share :</span>
                        <ul>
                            <li><a class="facebook" href="#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="google-plus" href="#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="instagram" href="#"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--// Product Details Right -->

            </div>
        </div>

    </div>
    <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>





<script>
document.getElementById('edit-btn').addEventListener('click', async (e) => {
    e.preventDefault();
    const name = document.getElementById('edit-name').value;
    const email = document.getElementById('edit-email').value;
    const mobile = document.getElementById('edit-mobile').value;
    const image = document.getElementById('profileImage');
    const newPassword = document.getElementById('edit-new-password').value;
    const currentPassword = document.getElementById('edit-current-password').value;

    

    const formData = new FormData();
    if (image.files.length > 0) {
        formData.append('image', image.files[0]);
    }
    formData.append('name', name);
    formData.append('email', email);
    formData.append('mobile', mobile);
    formData.append('newPassword', newPassword);
    formData.append('currentPassword', currentPassword);

    try {
        const response = await axios.post('/edit-profile', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        });

       
        if (response.data.passwordLength) {
            Swal.fire({
                icon: 'warning',
                title: 'Failed',
                text: 'Password must be 8 characters',
            });
        } else if (response.data.passwordMatch) {
            Swal.fire({
                icon: 'warning',
                title: 'Failed',
                text: 'Current password is not matching, try again later',
            });
        } else if (response.data.profileEdit) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Your profile is edited',
            }).then(() => {
                window.location.href = '/profile';
            });
        } else if (response.data.error) {
            Swal.fire({
                icon: 'warning',
                title: 'Failed',
                text: "Profile edit failed, please try again",
            });
        }

    } catch (e) {
        console.log('while passing the edit profile input:', e);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred while editing your profile',
        });
    }
});

</script>

    <script>



  document.getElementById('edit-address-form').addEventListener('submit', function (e) {
    e.preventDefault();
 ;

    
    // Retrieving values from form fields
    const editAddressId = document.getElementById('edit-addressId').value;
    const fullname = document.getElementById('edit-name').value;
    const pin = document.getElementById('edit-pincode').value;
    const mobile = document.getElementById('edit-mobile').value;
    const email = document.getElementById('edit-email').value;
    const houseName = document.getElementById('edit-housename').value;
    const city = document.getElementById('edit-city').value;
    const state = document.getElementById('edit-state').value;
    
    // Retrieving error message elements
    const nameError = document.getElementById('fnameError');
    const pinError = document.getElementById('pinError');
    const phoneError = document.getElementById('mobiles');
    const addEmailError = document.getElementById('addEmailError');
    const houseError = document.getElementById('houseError');
    const cityError = document.getElementById('cityError');
    const stateError = document.getElementById('stateError');
    console.log('addreddddddsssssssss',fullname ,editAddressId,mobile,pin,email);

    // Regular expressions for validation
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const mobilePattern = /^\d{10}$/;
    const namePattern = /^[a-zA-Z\s]+$/;
    const pincodePattern = /^\d{6}$/;

    if (fullname.trim() === '') {
      nameError.style.display = 'block';
      nameError.textContent = 'Name is required.';
    } else if (!namePattern.test(fullname)) {
      nameError.style.display = 'block';
      nameError.textContent = 'Full name should contain only alphabets.';
    } else if (fullname.length < 3) {
      nameError.style.display = 'block';
      nameError.textContent = 'Full name should be at least 3 characters long.';
    } else if (pin.trim() === '') {
      pinError.style.display = 'block';
      pinError.textContent = 'Pincode is required.';
    } else if (!pincodePattern.test(pin)) {
      pinError.style.display = 'block';
      pinError.textContent = 'Enter a valid pincode.';
    } else if (mobile.trim() === '') {
      phoneError.style.display = 'block';
      phoneError.textContent = 'Phone number is required.';
    } else if (!mobilePattern.test(mobile)) {
      phoneError.style.display = 'block';
      phoneError.textContent = 'Enter a valid phone number (10 digits).';
    } else if (email.trim() === '') {
      addEmailError.style.display = 'block';
      addEmailError.textContent = 'Email is required.';
    } else if (!emailPattern.test(email)) {
      addEmailError.style.display = 'block';
      addEmailError.textContent = 'Enter a valid email address.';
    } else if (houseName.trim() === '') {
      houseError.style.display = 'block';
      houseError.textContent = 'House name is required.';
    } else if (city.trim() === '') {
      cityError.style.display = 'block';
      cityError.textContent = 'City name is required.';
    } else if (state.trim() === '') {
      stateError.style.display = 'block';
      stateError.textContent = 'State name is required.';
    } else {
     
      $.ajax({
        url: '/edit-address',
        data: {
          fullname: fullname,
          editAddressId: editAddressId,
          email: email,
          mobile: mobile,
          houseName: houseName,
          city: city,
          state: state,
          pincode: pin
        },
        method: 'POST',
        success: (response) => {
          console.log(response, 'check the response');
          if (response.success) {
            $('#editAddressModal').modal('hide');
            $('.modal-dropback').remove();

            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });

            Toast.fire({
              icon: 'success',
              title: 'Billing address updated successfully.'
            });

            setTimeout(() => {
              window.location.reload('/profile');
            }, 2000);
          } else {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 2000
            });

            Toast.fire({
              icon: 'error',
              title: 'Oops! Try again.'
            });
          }
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    }
  });


</script>



<script>

    
        
        document.addEventListener("DOMContentLoaded", () =>  {
    document.getElementById("form").addEventListener("submit", function (event) {
        event.preventDefault(); 

        const name = document.getElementById("name").value;
        const nameError = document.getElementById('nameError');
        const email = document.getElementById("email").value;
        const emailError = document.getElementById("emailError");
        const mobile = document.getElementById('mobile').value;
        const mobileError = document.getElementById('mobileError');
        const pincode = document.getElementById('pincode').value;
        const pincodeError = document.getElementById('pincodeError');
        const emailPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        const state = document.getElementById('state').value;
        const city = document.getElementById('city').value;
        const houseName = document.getElementById('houseName').value;

     
        if (email.trim() === "") {
            emailError.style.display="block" 
            emailError.textContent = "Email is required.";
           
            } else if (!emailPattern.test(email)) {
                emailError.style.display="block" 
                emailError.textContent = "Invalid email format.";
             
            } else {
                emailError.style.display="block" 
                emailError.textContent = "";
            }
            if (mobile.length!=10) {
                mobileError.style.display="block" 
                mobileError.textContent = "Mobile number must be at least 10 digits"
                return

               
            } 
            else  {
                mobileError.style.display="block" 
                mobileError.textContent = ""
            }

            if (name.trim()===""){
                nameError.style.display="block" 
            nameError.textContent = "name is required."

            }
            else if (name.length < 4) {
                nameError.style.display="block"
                nameError.textContent = "User name  must be at least 4 characters"
                return
            } else {
                nameError.style.display="block"
                nameError.textContent = ""
            }
            if (pincode.length != 6) {
                pincodeError.style.display='block'
                pincodeError.textContent = "Type a  6 digit Pincode"
                return
            }
             else {
                pincodeError.style.display='block'
                pincodeError.textContent = ""
            }


        const formData = new FormData();
        formData.append('name', name);
        formData.append('email', email);
        formData.append('mobile', mobile);
        formData.append('pincode', pincode);
        formData.append('state', state);
        formData.append('city', city);
        formData.append('houseName', houseName);
    

        console.log(name,email,mobile,pincode,state,city,houseName);
        for (let [key, value] of formData.entries()) {
    console.log(key, value);
}

        axios.post('/add-address', formData, { 
         headers: {
       
        'Custom-Header': 'CustomValue'
        } 
    })
            .then(response => {

               
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                });
                if(response.data.addressAdded){
                    Toast.fire({
                        icon: "success", 
                        title: "added",
                        text:"your address added successfully"
                    });
                    window.location.href="/profile";
                }
            })
            .catch(e => {
                console.log(e, "error while passing the value from frontend");
            });
    });
});
</script>

<%- include("../layouts/user/footer.ejs") %>
