<%- include("../layouts/user/header.ejs") %>






    <!-- Start Breadumb Area -->
    <div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <h2 class="font--40 mb--0">Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadumb Area -->
    <div class="main-wrapper">

        <!-- Start Shop Area -->
        <div class="shop-area bg-color ptb--120 ptb_md--80 ptb_sm--80" data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="archive-shop-actions">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="archive-shop-inner text-center text-sm-left">
                                        <p class="bk_pra">Showing 1–8 of <%= productData.length %> results</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">      
                                    <div class="archive-shop-inner text-center text-sm-right mt_mobile--20" style="display: flex; align-items: center;">
                                        <input type="search" id="searchInput" placeholder="Search products..." style="padding: 8px; border: 1px solid #ccc; border-radius: 4px; margin-right: 10px; height: 38px;">
                                        <select onchange="handleChange(this)" style="padding: 8px; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; height: 38px;">
                                            <option value="new_arrival" <% if (!currentSort) { %>selected<% } %>>New arrivals</option>
                                            <option value="low_to_high" <% if (currentSort === 'low_to_high') { %>selected<% } %>>Price: low to high</option>
                                            <option value="high_to_low" <% if (currentSort === 'high_to_low') { %>selected<% } %>>Price: high to low</option>
                                            <% if (categoryData.length > 0) { %>
                                                <% categoryData.forEach(category => { %>
                                                    <option value="<%= category._id %>" <% if (currentSort === category._id.toString()) { %>selected<% } %>><%= category.name %></option>
                                                <% }) %>
                                            <% } %>
                                        </select>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Start Shop Minimal Product -->
                        <div class="shop-minimal-product">
                            <div class="row row--25">

                                <% if(productData) {  %> 
                                <% productData.forEach(product => { %>  

                                <div class="col-lg-4 col-md-6 col-sm-6 col-12 col-xl-3 mt--60">
                                    <div class="product">
                                        <div class="inner">
                                            <div class="thumbnail" >
                                                <a href="/product-details?_id=<%= product._id %>">
                                                    <img src="images/product/original/<%= product.images.image1 %>" alt="<%= product.name %>" style="width: 350px;">
                                                </a>
                                            </div>
                                            <div class="product-hover-action">
                                                <div class="hover-inner">
                                                    <a title="Quick View" class="quickview" href="#"><i class="fa fa-search"></i></a>
                                                    <a  onclick="toCart('<%= product._id %>')"><i class="fa fa-cart-plus"></i></a>
                                                    <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                                    <a href="compare.html"><i class="fa fa-repeat"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h2><a href="/product-details?_id=<%= product._id %>"><%= product.name %></a></h2>
                                            <span class="prize">$<%= product.price %>.00</span>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>  
                                <% } else {  %> 
                                    <p>no products available!..</p>

                                    <% } %>

                            </div>
                        </div>

                           
                                <!-- End Single Product -->


                                <ul class="pagination_style">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li <% if (i === currentPage) { %>class="active"<% } %>><a href="?page=<%= i %>"><%= i %></a></li>
                                    <% } %>
                                </ul>
                                
                                <!-- End Pagenation Area -->

                            </div>
                        </div>
                        <!-- End Shop Minimal Product -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Pagenation Area -->
     
        <!-- End Shop Area -->

   

    <!-- Quick View Modal -->
    <div class="quick-view-modal">
        <div class="quick-view-modal-inner">
            <div class="container">
                <div class="product-details">
                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div class="product-details-images slider-navigation-2">
                            <a href="#">
                                <img class="w-100" src="user/images/product/product-01.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="user/images/product/product-02.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="user/images/product/product-03.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="user/images/product/product-04.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="user/images/product/product-05.jpg" alt="product image">
                            </a>
                        </div>
                        <div class="product-details-thumbs slider-navigation-2">
                            <img src="user/images/product/product-01.jpg" alt="product image thumb">
                            <img src="user/images/product/product-02.jpg" alt="product image thumb">
                            <img src="user/images/product/product-03.jpg" alt="product image thumb">
                            <img src="user/images/product/product-04.jpg" alt="product image thumb">
                            <img src="user/images/product/product-05.jpg" alt="product image thumb">
                        </div>
                    </div>
                    <!--// Product Details Left -->

                    <!-- Product Details Right -->
                    <div class="product-details-right">
                        <h5 class="product-title">Demo Product Name</h5>

                        <div class="ratting-stock-availbility">
                            <div class="ratting-box">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <span class="stock-available">In stock</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                            tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                            justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                            nulla. adipiscing cursus eu, suscipit id nulla.</p>

                        <div class="price-box">
                            <span class="pricebox-price">£80.00</span>
                        </div>

                        <div class="product-details-quantity">
                            <div class="quantity-select">
                                <div class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                </div>
                            </div>
                            <a href="#" class="add-to-cart-button">
                                <span>ADD TO CART</span>
                            </a>
                        </div>

                        <div class="product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li class="red"><span></span></li>
                                <li class="green checked"><span></span></li>
                                <li class="blue"><span></span></li>
                                <li class="black"><span></span></li>
                            </ul>
                        </div>

                        <div class="product-details-size">
                            <span>Size :</span>
                            <ul>
                                <li class="checked"><span>S</span></li>
                                <li><span>M</span></li>
                                <li><span>L</span></li>
                                <li><span>XL</span></li>
                                <li><span>XXL</span></li>
                            </ul>
                        </div>

                        <div class="product-details-categories">
                            <span>Categories :</span>
                            <ul>
                                <li><a href="shop.html">Accessories</a></li>
                                <li><a href="shop.html">Kids</a></li>
                                <li><a href="shop.html">Women</a></li>
                            </ul>
                        </div>

                        <div class="product-details-tags">
                            <span>Tags :</span>
                            <ul>
                                <li><a href="shop.html">Electronic</a></li>
                                <li><a href="shop.html">Television</a></li>
                            </ul>
                        </div>

                        <div class="product-details-socialshare">
                            <span>Share :</span>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--// Product Details Right -->

                </div>
            </div>
        </div>
        <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
    </div>
    <!--// Quick View Modal -->
    <!-- Start Footer Area -->



<script>

function handleSearch(searchTerm, selectedValue) {
    const currentUrl = window.location.href;
    const baseUrl = currentUrl.split('?')[0]; // Get the base URL without query parameters

    // Construct the new URL with the selected filter and search term as query parameters
    const newUrl = `${baseUrl}?sort=${selectedValue}&search=${encodeURIComponent(searchTerm)}`;

    // Redirect the user to the new URL
    window.location.href = newUrl;
}

function handleChange(selectElement) {
    const selectedValue = selectElement.value;
    const searchTerm = document.getElementById('searchInput').value;
    console.log('Search Term:', searchTerm);
    handleSearch(searchTerm, selectedValue);
}

// Add an event listener to the search input field
document.getElementById('searchInput').addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
        const selectedValue = document.querySelector('select').value;
        const searchTerm = this.value;
        handleSearch(searchTerm, selectedValue);
    }
});

    function toCart(productId) {
    
 
    
            $.ajax({
    
                url: "/add-to-cart",
                method: "post",
                data: {
                     productId,
                  
                },
                success: (response) => {  
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
    })
    
                    if (response.login) {    
                        Toast.fire({
                            icon: "error",
                            title: response.message
                        });
                        setTimeout(function () {
                            window.location.href = '/login';
                        }, 2000);
    
                    } else if (response.success) {
                        if (response.newProduct) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                            });
    
                            Toast.fire({
                                icon: "success",
                                title: "Product added to cart"
                            });
                            $('#reloadArea').load('/shop #reloadArea');
    
                        }
                    } else if (response.exist) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "exist!",
                            text:"product is already exist"
                        });
                        setTimeout(function () {
                            window.location.href = '/cart';
                        }, 2000);
                    } else if (response.stock) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "out of stock!",
                            text:"the product is available soon"
                        });
                        return
                    }
                },
                error: (error) => {
                    console.error("Error adding to cart:", error);
                },
            });
        }
    
    
    
    
                </script>
    

    <%- include('../layouts/user/footer.ejs') %>