
<%- include('../layouts/user/header.ejs') %>


    <!-- Start Breadumb Area -->
    <div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <h2 class="font--40 mb--0">Shop </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadumb Area -->
    <div class="main-wrapper">

        <!-- Start Shop Area -->
        <div class="shop-area bg-color ptb--120 ptb_md--80 ptb_sm--80" data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-4 mt_md--60 mt_sm--60">
                        <!-- Start Sidebar Area -->
                        <div class="shop-sidebar-container">
                            <div class="shop-sidebar-wrapper">
                                <!-- Start Single Widget -->
                                <div class="shop-sidebar search">
                                    <h5 class="widget-title">Search</h5>
                                    <form class="inner" action="#">
                                        <div class="search-box">
                                            <input type="text" placeholder="Enter search keyword…">
                                            <button><span class="fa fa-search"></span></button>
                                        </div>
                                    </form>
                                </div>

                                <div class="category-filter mt-5 ">
                                    <h5 class="widget-title">Filter by Category</h5>
                                    <% categoryData.forEach(category => { %>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <input type="radio" id="<%= category._id %>" name="category" value="<%= category._id %>" style="width: 20px; height: 20px; border: 2px solid #000; border-radius: 3px; margin-right: 5px;">
                                            <label for="<%= category._id %>" style="font-weight: bold; display: inline-block; vertical-align: middle;"><%= category.name %></label>
                                        </div>
                                    <% }); %>
                                </div>
                                
                                
                                
                                
                                

                                

                                
                                <div class="shop-sidebar related-product-inner mt--50">
                                    <h5 class="widget-title">Filter by price</h5>

                                    <div class="content-shopby">
                                        <div class="price_filter s-filter clear">
                                            <form >
                                                <div id="slider-range"></div>
                                                <div class="slider__range--output">
                                                    <div class="price__output--wrap">
                                                        <div class="price--output">
                                                            <span>Price :</span><input type="text" id="amount" readonly>
                                                        </div>
                                                        <div class="price--filter">
                                                            <a href="">Filter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Widget -->
                                <div class="shop-sidebar related-product-inner mt--50">
                                    <h5 class="widget-title">Top rated products</h5>
                                    <ul class="related-product">
                                        <!-- Start Single Product -->
                                        <li>
                                            <div class="product-item">
                                                <div class="thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="assets/images/product/sm-product-01.jpg" alt="multi-purpose">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h5 class="heading heading-h5"><a href="single-product.html">Open Front Cardigan</a></h5>
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    <div class="price"><span>$58.00</span> <span
                                                            class="new-price">$70.00</span></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                   

                               

                            </div>
                        </div>
                        <!-- End Sidebar Area -->
                    </div>
                    <div class="order-1 order-lg-2 col-lg-8">
                        <div class="archive-shop-actions mb--30">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="archive-shop-inner text-center text-sm-left">
                                        <a href="/shop"><video src="user\videos\menu.webm" loop autoplay muted  style="width: 40px;height: 40px;"></video></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Start Shop Minimal Product -->
                        <div class="shop-minimal-product">
                            <div class="row row--25">

                             <!-- Start Single Product -->
<% products.forEach(function(product) { %>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--60">
        <div class="product">
            <div class="inner">
                <div class="thumbnail">
                    <a href="product-details.html">
                        <img src="/images/product/original/<%= product.images[0] %>" alt="Product Images">
                    </a>
                </div>
                <div class="product-hover-action">
                    <div class="hover-inner">
                        <a title="Quick View" class="quickview" href="#"><i class="fa fa-search"></i></a>
                        <a href="/cart"><i class="fa fa-cart-plus"></i></a>
                        <a href="/wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="/compare"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
            </div>
            <div class="content">
                <h2><a href="/product-details?<%=product._id %>"><%= product.name %></a></h2>
                <span class="prize">$<%= product.price %></span>
            </div>
        </div>
    </div>
<% }); %>
<!-- End Single Product -->



                                <!-- Start Pagenation Area -->
                                <div class="col-lg-12">
                                    <ul class="pagination_style">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a class="active" href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                                <!-- End Pagenation Area -->

                            </div>
                        </div>
                        <!-- End Shop Minimal Product -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shop Area -->
    </div>

    <!-- Quick View Modal -->
   
    <!--// Quick View Modal -->

    <script>
 
    $(function() {
        $('#slider-range').slider({
            range: true,
            min: 700,
            max: 2000,
            values: [110, 400],
            slide: function (event, ui) {
                $('#amount').val('$' + ui.values[0] + ' - $' + ui.values[1]);
            }
        });
    
        $('.price--filter a').on('click', function(event) {
            event.preventDefault(); 
    
            
            var minPrice = $('#slider-range').slider('values', 0);
            var maxPrice = $('#slider-range').slider('values', 1);
            console.log('asdjfa',minPrice,maxPrice);
          
            $.ajax({
                url: '/left-shop', 
                method: 'GET', 
                data: { minPrice: minPrice, maxPrice: maxPrice },
                success: function(response) {
                   location.reload()
                    console.log('Data sent successfully:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>    
    <%- include('../layouts/user/footer.ejs') %>