
<%- include("../layouts/user/header.ejs") %>

<!-- Start Search Flyover -->

<!-- Start Hamburger -->
<div class="hamburger-area">
    <div class="btn-close-search">
        <button>
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <!-- Start Main Menu -->
    <ul class="menu-primary-menu-1 responsive-manu d-block d-xl-none"
        id="responsive-manu">
        <li><a href="/">Home</a> </li>
        <li><a href="/shop">shop</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <!-- End Main Menu -->
</div>
<!-- End Hamburger -->

<!-- Start Banner Area -->
<div class="slider-activation">
    <!-- Start Single Slide -->
    <div
        class="slider-area ptb--150 bg_image bg_image--4 fullscreen d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-8 col-lg-6 offset-lg-6">
                    <div class="slide-content">
                        <img src="user/images/logo/text.png" alt="Text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.</p>
                        <div class="shop-now-btn">
                            <button type="button">Shop Now <i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Slide -->
    <!-- Start Single Slide -->
    <div
        class="slider-area ptb--150 bg_image bg_image--1 fullscreen d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-8 col-lg-6 offset-lg-6">
                    <div class="slide-content">
                        <img src="user/images/logo/text.png" alt="Text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.</p>
                        <div class="shop-now-btn">
                            <button type="button">Shop Now <i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Slide -->
</div>

<!-- End Banner Area -->

<div class="main-wrapper">
    <!-- Start Banner Area -->
    <div class="banner-area mt-5 ml-3 mr-3">
        <div class="row row--0">
            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-01.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">30%</h1>
                        <h4>Flash Sale</h4>
                    </div>
                </div>
            </div>

            <!-- End Single Banner -->

            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-02.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">New</h1>
                        <h4>Arivals Product</h4>
                    </div>
                </div>
            </div>
            <!-- End Single Banner -->

            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_md--30 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-03.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">Hot</h1>
                        <h4>Tsrt Sale</h4>
                    </div>
                </div>
            </div>
            <!-- End Single Banner -->

        </div>
    </div>
    <!-- End Banner Area -->

    <!-- Start Product Area -->
    <div
        class="feature-product-area bg-color pt--90 pt_md--80 pt_sm--80 pb--100 pb_md--80 pb_sm--80"
        data-bg-color="#fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">all products</h2>
                        <img src="user/images/logo/shape.png"
                            alt="Shape Images">
                    </div>
                </div>
            </div>

            <div class="row mt--20">
                <% if (productData.length > 0) { %>
                <% productData.forEach(product => { %>
                <% if (product.is_block==0) { %>

                <!-- Start Single Product -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30 ">
                    <div class="product ">
                        <div class="inner ">
                            <div class="thumbnail"
                                style="width: 300px; height: 300px;">
                                <a
                                    href="/product-details?_id=<%= product._id %>">
                                    <img
                                        src="/images/product/sized/<%= product.images.image1 %>"
                                        alt="<%= product.name %>">
                                </a>
                            </div>
                            <div class="product-hover-action">
                                <div class="hover-inner">
                                    <a title="Quick View" class="quickview"
                                        href="#"><i
                                            class="fa fa-search"></i></a>
                                    <a onclick="toCart('<%= product._id %>')"><i
                                            class="fa fa-cart-plus"></i></a>
                                    <a href="wishlist.html"><i
                                            class="fa fa-heart-o"></i></a>
                                    <a href="compare.html"><i
                                            class="fa fa-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h2><a
                                    href="/product-details?_id=<%= product._id %>"><%=
                                    product.name %></a></h2>
                            <span class="prize">$<%= product.price %>.00</span>
                        </div>
                    </div>

                </div>
                <% } %>
                <% }); %>
                <% } else { %>
                <p>No products available.</p>
                <% } %>

            </div>
        </div>
        <!-- End Single Product -->

        <!-- Start Countdown Area -->
        <div
            class="countdown-area bg_image bg_image--2 ptb--100 ptb_md--80 ptb_sm--80 mt-5 ">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-4 col-xl-6 col-md-12 col-12 order-2 order-lg-1">
                        <div
                            class="shop-now-btn text-center pt--150 mt--50 pt_md--0 pt_sm--0">
                            <button class="button-theme" type="button">Shop Now
                                <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div
                        class="col-lg-8 col-xl-6 col-md-12 col-12 order-1 order-lg-2">
                        <div class="countdown-inner-content">
                            <h2>Explore <br> Every part of this <br>
                                Products</h2>
                            <div
                                class="box-timer timer countdown-style-1 mt--50">
                                <div class="countbox timer-grid">
                                    <div data-countdown="2010/03/01"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Countdown Area -->

        <!-- Start Product Feature Tab -->
        <div class="product-sale-area pt--100 pt_md--80 pt_sm--80 bg-color"
            data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Product Tab -->
                        <ul class="nav nav-tabs onsale-tab" id="myTab"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab"
                                    data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home"
                                    aria-selected="true">Featured</a>
                            </li>
                            <% if(categoryData) { %>
                            <% categoryData.forEach( category => { %>
                            <li class="nav-item">
                                <a class="nav-link" id="<%= category.name %>"
                                    data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile"
                                    aria-selected="false"><%= category.name
                                    %></a>
                            </li>
                            <% }) %>
                            <% } %>

                        </ul>
                        <!-- End Product Tab -->
                    </div>
                </div>
                <div class="row mt--30">

                    <div class="col-lg-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home"
                                role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">

                                    <!-- Start Single Product -->
                                    <% productData.forEach( product => { %>
                                    <div
                                        class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">

                                        <div class="product">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a
                                                        href="/product-details?_id=<%= product._id %>">
                                                        <img
                                                            src="/images/product/sized/<%= product.images.image1 %>"
                                                            alt="Product Images">
                                                    </a>
                                                </div>
                                                <div
                                                    class="product-hover-action">
                                                    <div class="hover-inner">
                                                        <a title="Quick View"
                                                            class="quickview"
                                                            href="#"><i
                                                                class="fa fa-search"></i></a>
                                                        <a
                                                            onclick="toCart('<%= product._id %>')"><i
                                                                class="fa fa-cart-plus"></i></a>
                                                        <a
                                                            href="wishlist.html"><i
                                                                class="fa fa-heart-o"></i></a>
                                                        <a
                                                            href="compare.html"><i
                                                                class="fa fa-repeat"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h2><a
                                                        href="/product-details?_id=<%= product._id %>">Open
                                                        Front Cardigan</a></h2>
                                                <span class="prize">$<%=
                                                    product.price %>.00</span>
                                            </div>
                                        </div>

                                    </div>

                                    <% }); %>
                                </div>
                            </div>

                            <% categoryData.forEach( category => { %>
                            <div class="tab-pane fade" id="<%= category.name %>"
                                role="tabpanel"
                                aria-labelledby="<%= category.name %>">
                                <div class="row">
                                    <!-- Start Single Product -->
                                    <% productData.forEach( product => { %>

                                    <div
                                        class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                                        <div class="product">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a
                                                        href="/product-details?_id=<%= product._id %>">
                                                        <img
                                                            src="/images/product/sized/<%= product.images.image1 %>"
                                                            alt="Product Images">
                                                    </a>
                                                </div>
                                                <div
                                                    class="product-hover-action">
                                                    <div class="hover-inner">
                                                        <a title="Quick View"
                                                            class="quickview"
                                                            href="#"><i
                                                                class="fa fa-search"></i></a>
                                                        <a href="cart.html"><i
                                                                class="fa fa-cart-plus"></i></a>
                                                        <a
                                                            href="wishlist.html"><i
                                                                class="fa fa-heart-o"></i></a>
                                                        <a
                                                            href="compare.html"><i
                                                                class="fa fa-repeat"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h2><a
                                                        href="/product-details?_id=<%= product._id %>">Three-Piece
                                                        Check</a></h2>
                                                <span class="prize">$<%=
                                                    product.price %>.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <% }); %>

                                </div>
                            </div>
                            <% }) %>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Product Feature Tab -->

        <!-- Start Recent Selling Area -->
        <div class="recentselling-area pt--100 bg-color" data-bg-color="#fff">
            <div class="container">
                <div class="row">
                    <!-- Start Single Banner -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="banner">
                            <div class="thumbnail">
                                <img class="w-100"
                                    src="user/images/banner/banner-04.jpg"
                                    alt="Banner Images">
                            </div>
                            <div class="content text-left">
                                <h3>Best Product for Man</h3>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Banner -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt_sm--40">
                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-01.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Variable
                                        product</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->

                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product mt--30">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-02.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Variable
                                        product</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->

                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product mt--30">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-03.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Demo Product
                                        Name</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt_md--40">
                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-04.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Fit Wool
                                        Suit</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->

                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product mt--30">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-05.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Fit Wool
                                        Suit</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->

                        <!-- Start Best Rating Product -->
                        <div class="best-rating-product mt--30">
                            <div class="thumb">
                                <a href="product-details.html">
                                    <img
                                        src="user/images/product/sm-product-03.jpg"
                                        alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">Matchbox’ Fit
                                        Jeans</a></h6>
                                <div class="price">
                                    <span class="theme-color">$25.22</span>
                                    <span class="old-price">$30.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Best Rating Product -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Selling Area -->

        <!-- Start Brand Area -->
        <div class="brand-area ptb--90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-wrapper bg-color ptb--70"
                            data-bg-color="#f7f8f9">
                            <div
                                class="brand-list plr--60 flex-wrap flex-lg-nowrap d-flex justify-content-between">
                                <a href="#">
                                    <img src="user/images/brand/brand-01.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-02.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-03.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-04.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-01.png"
                                        alt="Brand">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

    </div>

    <!-- Quick View Modal -->
    <div class="quick-view-modal">
        <div class="quick-view-modal-inner">
            <div class="container">
                <div class="product-details">
                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div class="product-details-images slider-navigation-2">
                            <a href="#">
                                <img class="w-100"
                                    src="user/images/product/product-01.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="user/images/product/product-02.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="user/images/product/product-03.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="user/images/product/product-04.jpg"
                                    alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100"
                                    src="user/images/product/product-05.jpg"
                                    alt="product image">
                            </a>
                        </div>
                        <div class="product-details-thumbs slider-navigation-2">
                            <img src="user/images/product/product-01.jpg"
                                alt="product image thumb">
                            <img src="user/images/product/product-02.jpg"
                                alt="product image thumb">
                            <img src="user/images/product/product-03.jpg"
                                alt="product image thumb">
                            <img src="user/images/product/product-04.jpg"
                                alt="product image thumb">
                            <img src="user/images/product/product-05.jpg"
                                alt="product image thumb">
                        </div>
                    </div>
                    <!--// Product Details Left -->

                    <!-- Product Details Right -->
                    <div class="product-details-right">
                        <h5 class="product-title">Demo Product Name</h5>

                        <div class="ratting-stock-availbility">
                            <div class="ratting-box">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <span class="stock-available">In stock</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam fringilla augue nec est
                            tristique auctor. Donec non est at libero vulputate
                            rutrum. Morbi ornare lectus quis
                            justo gravida semper. Nulla tellus mi, vulputate
                            adipiscing cursus eu, suscipit id
                            nulla. adipiscing cursus eu, suscipit id nulla.</p>

                        <div class="price-box">
                            <span class="pricebox-price">£80.00</span>
                        </div>

                        <div class="product-details-quantity">
                            <div class="quantity-select">
                                <div class="pro-quantity">
                                    <div class="pro-qty"><input type="text"
                                            value="1"></div>
                                </div>
                            </div>
                            <a href="#" class="add-to-cart-button">
                                <span>ADD TO CART</span>
                            </a>
                        </div>

                        <div class="product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li class="red"><span></span></li>
                                <li class="green checked"><span></span></li>
                                <li class="blue"><span></span></li>
                                <li class="black"><span></span></li>
                            </ul>
                        </div>

                        <div class="product-details-size">
                            <span>Size :</span>
                            <ul>
                                <li class="checked"><span>S</span></li>
                                <li><span>M</span></li>
                                <li><span>L</span></li>
                                <li><span>XL</span></li>
                                <li><span>XXL</span></li>
                            </ul>
                        </div>

                        <div class="product-details-categories">
                            <span>Categories :</span>
                            <ul>
                                <li><a href="shop.html">Accessories</a></li>
                                <li><a href="shop.html">Kids</a></li>
                                <li><a href="shop.html">Women</a></li>
                            </ul>
                        </div>

                        <div class="product-details-tags">
                            <span>Tags :</span>
                            <ul>
                                <li><a href="shop.html">Electronic</a></li>
                                <li><a href="shop.html">Television</a></li>
                            </ul>
                        </div>

                        <div class="product-details-socialshare">
                            <span>Share :</span>
                            <ul>
                                <li><a class="facebook" href="#"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li><a class="google-plus" href="#"><i
                                            class="fa fa-google-plus"></i></a></li>
                                <li><a class="linkedin" href="#"><i
                                            class="fa fa-linkedin"></i></a></li>
                                <li><a class="instagram" href="#"><i
                                            class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--// Product Details Right -->

                </div>
            </div>
        </div>
        <button class="close-quickview-modal"><i
                class="fa fa-close"></i></button>
    </div>
    <!--// Quick View Modal -->

    <script>


    function toCart(productId) {
    
 
    
            $.ajax({
    
                url: "/add-to-cart",
                method: "post",
                data: {
                     productId,
                  
                },
                success: (response) => {  
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
    })
    
                    if (response.login) {    
                        Toast.fire({
                            icon: "error",
                            title: response.message
                        });
                        setTimeout(function () {
                            window.location.href = '/login';
                        }, 2000);
    
                    } else if (response.success) {
                        if (response.newProduct) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                            });
    
                            Toast.fire({
                                icon: "success",
                                title: "Product added to cart"
                            });
                            $('#reloadArea').load('/shop #reloadArea');
    
                        }
                    } else if (response.exist) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "exist!",
                            text:"product is already exist"
                        });
                        setTimeout(function () {
                            window.location.href = '/cart';
                        }, 2000);
                    } else if (response.stock) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "out of stock!",
                            text:"the product is available soon"
                        });
                        return
                    }
                },
                error: (error) => {
                    console.error("Error adding to cart:", error);
                },
            });
        }
    
    
    
    
                </script>

    <%- include("../layouts/user/footer.ejs") %>
