
<%- include("../layouts/user/header.ejs") %>

<!-- Start Search Flyover -->

<!-- Start Hamburger -->
<div class="hamburger-area">
    <div class="btn-close-search">
        <button>
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <!-- Start Main Menu -->
    <ul class="menu-primary-menu-1 responsive-manu d-block d-xl-none"
        id="responsive-manu">
        <li><a href="/">Home</a> </li>
        <li><a href="/shop">shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <!-- End Main Menu -->
</div>
<!-- End Hamburger -->


<div class="slider-activation">
    <!-- Start Single Slide -->
    <div
        class="slider-area ptb--150 bg_image bg_image--4 fullscreen d-flex align-items-center" style="margin-top: 7rem;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-8 col-lg-6 offset-lg-6">
                    <div class="slide-content">
                        <img src="user/images/logo/text.png" alt="Text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.</p>
                        <div class="shop-now-btn">
                            <button type="button"><a href="/shop">Shop Now </a><i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="slider-area ptb--150 bg_image bg_image--1 fullscreen d-flex align-items-center" style="margin-top: 7rem;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-8 col-lg-6 offset-lg-6">
                    <div class="slide-content">
                        <img src="user/images/logo/text.png" alt="Text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.</p>
                        <div class="shop-now-btn">
                            <button type="button"><a href="/shop">Shop Now </a><i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Slide -->
</div>

<!-- End Banner Area -->

<div class="main-wrapper">
    <!-- Start Banner Area -->
    <div class="banner-area mt-5 ml-3 mr-3">
        <div class="row row--0">
            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-01.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">30%</h1>
                        <h4>Flash Sale</h4>
                    </div>
                </div>
            </div>

            <!-- End Single Banner -->

            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-02.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">New</h1>
                        <h4>Arivals Product</h4>
                    </div>
                </div>
            </div>
            <!-- End Single Banner -->

            <!-- Start Single Banner -->
            <div class="col-lg-4 col-md-6 col-12 mt_md--30 mt_sm--30">
                <div class="banner animated-banner">
                    <div class="thumbnail">
                        <img src="user/images/banner/banner-03.jpg"
                            alt="Banner Images">
                    </div>
                    <div class="content">
                        <h1 class="theme-color mb--0">Hot</h1>
                        <h4>Tsrt Sale</h4>
                    </div>
                </div>
            </div>
            <!-- End Single Banner -->

        </div>
    </div>
    <!-- End Banner Area -->

    <!-- Start Product Area -->
    <div
        class="feature-product-area bg-color pt--90 pt_md--80 pt_sm--80 pb--100 pb_md--80 pb_sm--80"
        data-bg-color="#fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">all products</h2>
                        <img src="user/images/logo/shape.png"
                            alt="Shape Images">
                    </div>
                </div>
            </div>

            <div class="row mt--20">
                <% if (productData.length > 0) { %>
                <% productData.forEach((product,index) => { %>
                <% if (product.is_block==0) { %>

                <!-- Start Single Product -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30 ">
                    <div class="product ">
                        <div class="inner ">
                            <div class="thumbnail"
                            >
                                <a
                                    href="/product-details?_id=<%= product._id %>">
                                    <img
                                        src="/images/product/original/<%= product.images[0] %>"
                                        alt="<%= product.name %>"
                                        loading="lazy">
                                </a>
                            </div>
                            <div class="product-hover-action">
                                <div class="hover-inner">

                                    <a onclick="toCart('<%= product._id %>')"><i
                                            class="fa fa-cart-plus"></i></a>
                                            <a onclick="addToWishlist('<%= product._id %>')" id="wishlistLink" class="wishlist-button">
                                                <i class="fa fa-heart-o" id="heartIcon"></i>
                                            </a>
                                     
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h2><a
                                    href="/product-details?_id=<%= product._id %>"><%=
                                    product.name %></a></h2>
                            <span class="prize">$<%= product.price %>.00</span>
                        </div>
                    </div>

                </div>
                <% } %>
                <% }); %>
                <% } else { %>
                <p>No products available.</p>
                <% } %>

            </div>
        </div>
        <!-- End Single Product -->

        <!-- Start Countdown Area -->
        <div
            class="countdown-area bg_image bg_image--2 ptb--100 ptb_md--80 ptb_sm--80 mt-5 ">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-4 col-xl-6 col-md-12 col-12 order-2 order-lg-1">
                        <div
                            class="shop-now-btn text-center pt--150 mt--50 pt_md--0 pt_sm--0">
                            <button class="button-theme" type="button"><a href="/shop">Shop Now</a>
                                <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div
                        class="col-lg-8 col-xl-6 col-md-12 col-12 order-1 order-lg-2">
                        <div class="countdown-inner-content">
                            <h2>Explore <br> Every part of this <br>
                                Products</h2>
                            <div
                                class="box-timer timer countdown-style-1 mt--50">
                                <div class="countbox timer-grid">
                                    <div data-countdown="2024/05/31"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Countdown Area -->

        <!-- Start Product Feature Tab -->
        <div class="product-sale-area pt--100 pt_md--80 pt_sm--80 bg-color" data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Product Tab -->
                        <ul class="nav nav-tabs onsale-tab" id="myTab" role="tablist">
                            <% if(categoryData) { %>
                            <% categoryData.forEach( category => { %>
                            <li class="nav-item">
                                <a class="nav-link" id="<%= category.name %>-tab" data-toggle="tab" href="#<%= category.name %>" role="tab" aria-controls="<%= category.name %>" aria-selected="false"><%= category.name %></a>
                            </li>
                            <% }) %>
                            <% } %>
                        </ul>
                        <!-- End Product Tab -->
                    </div>
                </div>
                <div class="row mt--30">
                    <div class="col-lg-12">
                        <div class="tab-content" id="myTabContent">
                            <% categoryData.forEach(category => { %>
                            <div class="tab-pane fade" id="<%= category.name %>" role="tabpanel" aria-labelledby="<%= category.name %>-tab">
                                <div class="row">
                                    <!-- Start Single Product -->
                                    <% productData.forEach(product => { %>
                                        <% if (product.category.name === category.name) { %>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                                        <div class="product">
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="/product-details?_id=<%= product._id %>">
                                                        <img src="/images/product/original/<%= product.images[0]%>" alt="Product Images">
                                                    </a>
                                                </div>
                                                <div class="product-hover-action">
                                                    <div class="hover-inner">
                                                        <a title="Quick View" class="quickview" href="#"><i class="fa fa-search"></i></a>
                                                        <a href="/cart"><i class="fa fa-cart-plus"></i></a>
                                                        <a onclick="addToWishlist('<%= product._id %>')" href="/wishlist" id="wishlistLink">
                                                            <i class="fa fa-heart-o" id="heartIcon"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h2><a href="/product-details?_id=<%= product._id %>"><%= product.name %></a></h2>
                                                <span class="prize">$<%= product.price %>.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% }) %>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

      

        <!-- Start Brand Area -->
        <div class="brand-area ptb--90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-wrapper bg-color ptb--70"
                            data-bg-color="#f7f8f9">
                            <div
                                class="brand-list plr--60 flex-wrap flex-lg-nowrap d-flex justify-content-between">
                                <a href="#">
                                    <img src="user/images/brand/brand-01.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-02.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-03.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-04.png"
                                        alt="Brand">
                                </a>
                                <a href="#">
                                    <img src="user/images/brand/brand-01.png"
                                        alt="Brand">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

    </div>



    <script>


    function toCart(productId) {
            $.ajax({
                url: "/add-to-cart",
                method: "post",
                data: {
                     productId,   
                },
                success: (response) => {  
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
    })
    
                    if (response.login) {    
                        Toast.fire({
                            icon: "error",
                            title: response.message
                        });
                        setTimeout(function () {
                            window.location.href = '/login';
                        }, 2000);
    
                    } else if (response.success) {
                        if (response.newProduct) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                            });
    
                            Toast.fire({
                                icon: "success",
                                title: "Product added to cart"
                            });
                            $('#reloadArea').load('/shop #reloadArea');
    
                        }
                    } else if (response.exist) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "exist!",
                            text:"product is already exist"
                        });
                        setTimeout(function () {
                            window.location.href = '/cart';
                        }, 2000);
                    } else if (response.stock) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "out of stock!",
                            text:"the product is available soon"
                        });
                        return
                    }
                },
                error: (error) => {
                    console.error("Error adding to cart:", error);
                },
            });
        }

     
        function addToWishlist(product_id) {
    console.log(product_id, '-------------');
   

    $.ajax({
        method: "POST",
        url: '/add-to-Wishlist',
        data: JSON.stringify({ productId: product_id }),
        contentType: 'application/json',
        success: function (response) {
            console.log(response);
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
            });

            if (response.added) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
                // Add a class to change the button color
                $('#wishlistLink').addClass('added-to-wishlist');
            } else if (response.removed) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
          
                $('#wishlistLink').removeClass('added-to-wishlist');
            } else {
                Toast.fire({
                    icon: 'error',
                    title: 'Please log in to perform this action.',
                    timer: 2000
                });
                setTimeout(function () {
                    window.location.href = '/login';
                }, 1000);
            }
        },
        error: function (error) {
            console.error(error.responseText);
        }
    });
}
    
    
    
    
                </script>

    <%- include("../layouts/user/footer.ejs") %>
