<%- include("../layouts/user/header.ejs") %>
   <!-- Start Breadumb Area -->
    <div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <h2 class="font--40 mb--0">Wishlist</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadumb Area -->
    <div class="main-wrapper">

        <!-- Cart Page Start -->
        <div class="wishlist_area pt--120 pb--80 pt_md--80 pt_sm--80 bg-color" data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">Image</th>
                                            <th class="pro-title">Product</th>
                                            <th class="pro-price">Price</th>
                                            <th>to cart</th>
                                            <th class="pro-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% wishlistData.forEach((wishlistItem) => { %>
                                            <% wishlistItem.products.forEach((product) => { %>
                                                <tr>
                                                    <td class="pro-thumbnail">
                                                        <a href="#"><img src="/images/product/original/<%= product.product.images[0] %>" alt="<%= product.product.name %>" style="width: 50px;height: 50px; border-radius: 10px;"></a>
                                                    </td>
                                                    <td class="pro-title">
                                                        <a href="#"><%= product.product.name %></a>
                                                    </td>
                                                    <td class="pro-price">
                                                        <span>$<%= product.product.price %></span>
                                                    </td>
                                                    <td><button id="add-to-cart" onclick="toCart('<%= product.product._id %>')">add to cart</button></td>
                                                    <td class="pro-remove">
                                                        <a onclick="removeProduct('<%= product.product._id %>')"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                        <% }); %>
                                    </tbody>
                                </table>
                                
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->

    </div>

    <!-- Quick View Modal -->
    <div class="quick-view-modal">
        <div class="quick-view-modal-inner">
            <div class="container">
                <div class="product-details">
                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div class="product-details-images slider-navigation-2">
                            <a href="#">
                                <img class="w-100" src="assets/images/product/product-01.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="assets/images/product/product-02.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="assets/images/product/product-03.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="assets/images/product/product-04.jpg" alt="product image">
                            </a>
                            <a href="#">
                                <img class="w-100" src="assets/images/product/product-05.jpg" alt="product image">
                            </a>
                        </div>
                        <div class="product-details-thumbs slider-navigation-2">
                            <img src="assets/images/product/product-01.jpg" alt="product image thumb">
                            <img src="assets/images/product/product-02.jpg" alt="product image thumb">
                            <img src="assets/images/product/product-03.jpg" alt="product image thumb">
                            <img src="assets/images/product/product-04.jpg" alt="product image thumb">
                            <img src="assets/images/product/product-05.jpg" alt="product image thumb">
                        </div>
                    </div>
                    <!--// Product Details Left -->

                    <!-- Product Details Right -->
                    <div class="product-details-right">
                        <h5 class="product-title">Demo Product Name</h5>

                        <div class="ratting-stock-availbility">
                            <div class="ratting-box">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <span class="stock-available">In stock</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                            tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                            justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                            nulla. adipiscing cursus eu, suscipit id nulla.</p>

                        <div class="price-box">
                            <span class="pricebox-price">£80.00</span>
                        </div>

                        <div class="product-details-quantity">
                            <div class="quantity-select">
                                <div class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                </div>
                            </div>
                            <a href="#" class="add-to-cart-button">
                                <span>ADD TO CART</span>
                            </a>
                        </div>

                        <div class="product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li class="red"><span></span></li>
                                <li class="green checked"><span></span></li>
                                <li class="blue"><span></span></li>
                                <li class="black"><span></span></li>
                            </ul>
                        </div>

                        <div class="product-details-size">
                            <span>Size :</span>
                            <ul>
                                <li class="checked"><span>S</span></li>
                                <li><span>M</span></li>
                                <li><span>L</span></li>
                                <li><span>XL</span></li>
                                <li><span>XXL</span></li>
                            </ul>
                        </div>

                        <div class="product-details-categories">
                            <span>Categories :</span>
                            <ul>
                                <li><a href="shop.html">Accessories</a></li>
                                <li><a href="shop.html">Kids</a></li>
                                <li><a href="shop.html">Women</a></li>
                            </ul>
                        </div>

                        <div class="product-details-tags">
                            <span>Tags :</span>
                            <ul>
                                <li><a href="shop.html">Electronic</a></li>
                                <li><a href="shop.html">Television</a></li>
                            </ul>
                        </div>

                        <div class="product-details-socialshare">
                            <span>Share :</span>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--// Product Details Right -->

                </div>
            </div>
        </div>
        <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.3/dist/sweetalert2.min.js"></script>


    <script>
        function toCart(productId) {
            $.ajax({
                url: "/add-to-cart",
                method: "post",
                data: {
                     productId,   
                },
                success: (response) => {  
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
    })
    
                    if (response.login) {    
                        Toast.fire({
                            icon: "error",
                            title: response.message
                        });
                        setTimeout(function () {
                            window.location.href = '/login';
                        }, 2000);
    
                    } else if (response.success) {
                        if (response.newProduct) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                            });
    
                            Toast.fire({
                                icon: "success",
                                title: "Product added to cart"
                            });
                            $('#reloadArea').load('/shop #reloadArea');
    
                        }
                    } else if (response.exist) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "exist!",
                            text:"product is already exist"
                        });
                        setTimeout(function () {
                            window.location.href = '/cart';
                        }, 2000);
                    } else if (response.stock) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                        });
    
                        Toast.fire({
                            icon: "error", 
                            title: "out of stock!",
                            text:"the product is available soon"
                        });
                        return
                    }
                },
                error: (error) => {
                    console.error("Error adding to cart:", error);
                },
            });
        }

     

function removeProduct(productId) {
    $.ajax({
        method: 'DELETE',
        url: '/remove-from-wishlist',
        data: JSON.stringify({ productId: productId }),
        contentType: 'application/json',
        success: function (response) {
            console.log('Response:', response);
            if (response.remove) {
               Swal.fire({
                icon:"success",
                text:"deleted",
               }).then(()=> { 
                location.reload();
            })
            } else {
                console.log('Remove is false or undefined:', response);
            }
        },
        error: function (error) {
            console.error('Error:', error);
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-center',
                showConfirmButton: false,
                timer: 2000,
            });
            Toast.fire({
                icon: 'error',
                title: 'Error removing product from wishlist'
            });
        }
    });
}


    </script>



<%- include("../layouts/user/footer.ejs") %>
